.search-room__item
    a(href="empty.html").search-room__link
        .slider
            input(type="radio" id="room9-btn-1" name="toggle-9" checked).slider__input           
            input(type="radio" id="room9-btn-2" name="toggle-9").slider__input
            input(type="radio" id="room9-btn-3" name="toggle-9").slider__input
            input(type="radio" id="room9-btn-4" name="toggle-9").slider__input
            .slider-controls
                each el in [1, 2, 3, 4] 
                    label(for="room9-btn-" + el).slider__label   
            .slider-prev-controls
                each el in [1, 2, 3, 4] 
                    label(for="room9-btn-" + el).slider__prev &#x2039;  
            .slider-next-controls
                each el in [1, 2, 3, 4] 
                    label(for="room9-btn-" + el).slider__next &#x2039;                                 
            .slider-inner
                .slider-slides
                    each el in [1, 2, 3, 4]  
                        img(src=require(`/src/modules/search/search-room/search-room-items/search-room-item_9/room9.png`), alt="Фото номера").slider__img                            
    .search-room-wrapper
        .search-room-digits 
            .search-room-numbers 
                .search-room__symbol №
                .search-room__number 350
                .search-room__rank 
            .search-room-price 
                .search-room__rubl 5 000₽
                .search-room__period в сутки
        .search-room-bottom 
            .search-room-stars
                span.search-room__star star
                span.search-room__star star
                span.search-room__star star
                span.search-room__star star_border
                span.search-room__star star_border
            .search-room-feedback 
                .search-room-feedback__numbers 77
                .search-room-feedback__title Отзывов