.search-room-items 
    include search-room-item_1/search-room-item_1
    include search-room-item_2/search-room-item_2
    include search-room-item_3/search-room-item_3
    include search-room-item_4/search-room-item_4
    include search-room-item_5/search-room-item_5
    include search-room-item_6/search-room-item_6
    include search-room-item_7/search-room-item_7
    include search-room-item_8/search-room-item_8
    include search-room-item_9/search-room-item_9
    include search-room-item_10/search-room-item_10
    include search-room-item_11/search-room-item_11
    include search-room-item_12/search-room-item_12
