.basement 
    .basement-item 
        a(href="index.html").basement-logo
            img(src=require(`/src/modules/footer/basement/logo.png`) alt='Логотип').basement-logo__img
        .basement-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .basement-item.basement-item-1 
        p.basement-list__title Навигация
        ul.basement-list              
            li.basement-list__item
                a(href="empty.html").basement-list__link О нас                
            li.basement-list__item
                a(href="empty.html").basement-list__link Новости
            li.basement-list__item
                a(href="empty.html").basement-list__link Служба поддержки                               
            li.basement-list__item
                a(href="empty.html").basement-list__link Услуги   
    .basement-item.basement-item-2 
        p.basement-list__title О нас
        ul.basement-list                 
            li.basement-list__item
                a(href="empty.html").basement-list__link О сервисе                
            li.basement-list__item
                a(href="empty.html").basement-list__link Наша команда
            li.basement-list__item
                a(href="empty.html").basement-list__link Вакансии                              
            li.basement-list__item
                a(href="empty.html").basement-list__link Инвесторы
    .basement-item.basement-item-3 
        p.basement-list__title Служба поддержки 
        ul.basement-list            
            li.basement-list__item
                a(href="empty.html").basement-list__link Соглашения 
            li.basement-list__item
                a(href="empty.html").basement-list__link Сообщества                               
            li.basement-list__item
                a(href="empty.html").basement-list__link Связь с нами  
    .basement-item.basement-item-4 
        p.basement-list__title Подписка
        .basement-text-subscribe Получайте специальные предложения и новости сервиса
        form.basement-form(action="") 
            input(type="email" placeholder="Email").basement-form__input
            a(href="empty.html").basement-form__link 
                span.basement-form__icon arrow_forward