.search {
    &-wrapper {
        display: grid;
        grid-template-columns: 466px 860px;
        max-width: 1920px;
        min-width: 320px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto; 
    }
}
