include ../../pug/libs/_libs

.search-wrapper
    include search-sidebar/search-sidebar
    include search-room/search-room  
hr.footer-line

                                                                                                                                                                                                                                                                                             
                                                                                 
                                                                                                                                                                                                                            


                
