.copyright-block
    .copyright 
        a(href="index.html").basement-logo.basement-logo-adopted
            img(src="/src/modules/footer/copyright/logo.png", alt="Логотип").basement-logo__img            
        .copyright-text Copyright &copy; 2018 Toxin отель. Все права защищены.
        ul.copyright-list
            li.copyright-list__item
                a(href="http://www.twitter.com" target="_blank").copyright-list__link
                    img(src=require(`/src/modules/footer/copyright/twitter.png`) alt='Твиттер').copyright.socials__img 
            li.copyright-list__item
                a(href="http://www.facebook.com" target="_blank").copyright-list__link
                    img(src=require(`/src/modules/footer/copyright/facebook.png`) alt='Фейсбук').copyright.socials__img 
            li.copyright-list__item
                a(href="http://www.instagram.com" target="_blank").copyright-list__link
                    img(src=require(`/src/modules/footer/copyright/insta.png`) alt='Инстаграмм').copyright.socials__img

