doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(href='../styles/datepicker.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='../styles/style.css')
    title Календарь
  body
    .wishes
      h1.wishes__title Найдём номера под ваши пожелания
      .calendar-forms
        form(action="").dates-form
          .dates-form__item
            p.dates-form__title Прибытие 
            input(type="text" placeholder='дд.мм.гггг')#date_1.dates-form__input
            span.dates-form__icon expand_more
          .dates-form__item
            p.dates-form__title Выезд 
            input(type="text" placeholder='дд.мм.гггг')#date_2.dates-form__input
        .datepicker-wrapper
          form.datepicker-form(action="")(hidden)
            input#calendar.datepicker-position(type='text', hidden)
            .datepicker__clear Очистить
            .datepicker__ok Применить
      .guests 
        form(action="").guest-form 
          p.guest-form__title Гости 
          input(type="text" placeholder='Сколько гостей')#guest.guest-form__input
      .pickup
        .pickup-wrapper
          button.pickup__button Подобрать номер
       
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='../js/datepicker.min.js')
    script(src='../js/elements.js')