.roominfo 
    .roominfo__title Сведения о номере
    .roominfo-item 
        span.roominfo-item__span insert_emoticon
        .roominfo-item-text
            .roominfo-item-text__title Комфорт
            .roominfo-item-text__desc Шумопоглощающие стены
    .roominfo-item 
        span.roominfo-item__span location_city
        .roominfo-item-text
            .roominfo-item-text__title Удобство 
            .roominfo-item-text__desc Окно в каждой из спален
    .roominfo-item 
        span.roominfo-item__span whatshot
        .roominfo-item-text
            .roominfo-item-text__title Уют
            .roominfo-item-text__desc Номер оснащён камином  
.reviews
    .reviews-top 
        .reviews-top__title Отзывы посетителей номера
        .reviews-top__number 2 отзыва
    .reviews-item 
        .reviews-item-left 
            img(src="images/visitors/vizitor_1.jpg", alt="").reviews-item-left__img
            .reviews-item-left__favor
                span.reviews-item-left__icon favorite
                .reviews-item-left__favortext 12
        .reviews-item-right
            .reviews-item-right__title Мурад Сарафанов
            .reviews-item-right__days 5 дней назад
            .reviews-item-right__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
    .reviews-item 
        .reviews-item-left 
            img(src="images/visitors/vizitor_2.jpg", alt="").reviews-item-left__img
            .reviews-item-left__favor
                span.reviews-item-left__icon favorite_border
                .reviews-item-left__favortext 12
        .reviews-item-right
            .reviews-item-right__title Патрисия Стёклышкова
            .reviews-item-right__days Неделю назад
            .reviews-item-right__text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент            
.rules 
    .rules__title Правила
    .rules-item Нельзя с питомцами             
    .rules-item Без вечеринок и мероприятий            
    .rules-item Время прибытия — после 13:00, а выезд до 12:00    
.canceling 
    .canceling__title Отмена
    .canceling__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

