.photo-wrapper 
    img(src="images/details_photo/detail_photo_1.png", alt="Фото номера").photo__img-1
    img(src="images/details_photo/detail_photo_2.png", alt="Фото номера").photo__img-2
    img(src="images/details_photo/detail_photo_3.png", alt="Фото номера").photo__img-3
.details-wrapper
    section.roominfo 
        .roominfo__title Сведения о номере
        .roominfo-item 
            span.roominfo-item__span insert_emoticon
            .roominfo-item-text
                .roominfo-item-text__title Комфорт
                .roominfo-item-text__desc Шумопоглощающие стены
        .roominfo-item 
            span.roominfo-item__span location_city
            .roominfo-item-text
                .roominfo-item-text__title Удобство 
                .roominfo-item-text__desc Окно в каждой из спален
        .roominfo-item 
            span.roominfo-item__span whatshot
            .roominfo-item-text
                .roominfo-item-text__title Уют
                .roominfo-item-text__desc Номер оснащён камином  
    section.reviews
        .reviews-top 
            .reviews-top__title Отзывы посетителей номера
            .reviews-top__number 2 отзыва
        .reviews-item 
            .reviews-item-left 
                img(src="images/visitors/vizitor_1.jpg", alt="Фото посетителя").reviews-item-left__img
                .reviews-item-left__favor
                    span.reviews-item-left__icon favorite
                    .reviews-item-left__favortext 12
            .reviews-item-right
                .reviews-item-right__title Мурад Сарафанов
                .reviews-item-right__days 5 дней назад
                .reviews-item-right__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
        .reviews-item 
            .reviews-item-left 
                img(src="images/visitors/vizitor_2.jpg", alt="Фото посетителя").reviews-item-left__img
                .reviews-item-left__favor
                    span.reviews-item-left__icon favorite_border
                    .reviews-item-left__favortext 12
            .reviews-item-right
                .reviews-item-right__title Патрисия Стёклышкова
                .reviews-item-right__days Неделю назад
                .reviews-item-right__text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент            
    section.rules 
        .rules__title Правила
        .rules-item Нельзя с питомцами             
        .rules-item Без вечеринок и мероприятий            
        .rules-item Время прибытия — после 13:00, а выезд до 12:00    
    section.canceling 
        .canceling__title Отмена
        .canceling__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
    section.chart
        .chart__title Впечатления от номера
        .chart-wrapper
            svg(viewBox="0 0 42 42").chart-donut
                lineargradient#linearColors-1(x1='0' y1='0' x2='1' y2='1')
                    stop(offset='0%' stop-color='#BC9CFF')
                    stop(offset='100%' stop-color='#8BA4F9')
                lineargradient#linearColors-2(x1='0' y1='0' x2='1' y2='1')
                    stop(offset='0%' stop-color='#6FCF97')
                    stop(offset='100%' stop-color='#66D2EA')
                lineargradient#linearColors-3(x1='0' y1='0' x2='1' y2='1')
                    stop(offset='0%' stop-color='#FFE39C')
                    stop(offset='100%' stop-color='#FFBA9C')        
                circle(cx="21" cy="21" r="15.91549430918954" fill="#fff").chart-donut-hole 
                circle(cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#fff").chart-donut-ring
                circle(cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="url(#linearColors-1)" stroke-dasharray="24.7 75").chart-donut-segment__1
                circle(cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="url(#linearColors-2)" stroke-dasharray="24.7 75").chart-donut-segment__2
                circle(cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="url(#linearColors-3)" stroke-dasharray="49.7 49.7").chart-donut-segment__3
                g.chart-donut-text
                    text(x="50%" y="50%").chart-donut-text__number 260
                    text(x="50%" y="50%").chart-donut-text__label голосов
            .chart-legend
                .chart-legend-list 
                    .chart-legend-list-item 
                        .chart-legend-list-item__marker.chart-legend-list-item__marker--fine 
                        .chart-legend-list-item__text Великолепно
                    .chart-legend-list-item 
                        .chart-legend-list-item__marker.chart-legend-list-item__marker--good 
                        .chart-legend-list-item__text Хорошо
                    .chart-legend-list-item 
                        .chart-legend-list-item__marker.chart-legend-list-item__marker--notbad 
                        .chart-legend-list-item__text Удовлетворительно
                    .chart-legend-list-item 
                        .chart-legend-list-item__marker.chart-legend-list-item__marker--disappointed 
                        .chart-legend-list-item__text Разочарован                                                

    section.summary 
        .summary-room
            .summary-room-digits 
                .summary-room-numbers 
                    .summary-room__symbol №
                    .summary-room__number 888
                    .summary-room__rank Люкс 
                .summary-room-price 
                    .summary-room__rubl 9 990₽
                    .summary-room__period в сутки
            form(action="").summary-dates-form
                .summary-dates-form__item
                    p.summary-dates-form__title Прибытие 
                    input(type="text" placeholder='дд.мм.гггг').summary-dates-form__input
                    span.summary-dates-form__icon expand_more
                .summary-dates-form__item
                    p.summary-dates-form__title Выезд 
                    input(type="text" placeholder='дд.мм.гггг').summary-dates-form__input
                    span.summary-dates-form__icon expand_more   
            form(action="").summary-guests-form
                .summary-guests-form__title Гости
                input(type="text" placeholder="Сколько гостей").summary-guests-form__input
                span.summary-guests-form__icon expand_more
            .summary-totalprice 
                .summary-totalprice__left 9 990₽ х 4 суток
                .summary-totalprice__right 39 960₽
            .summary-services 
                .summary-services-left
                    .summary-services-left__text Сбор за услуги: скидка 2 179₽
                    .summary-services-left__icon &#9432;
                .summary-services-right 0₽
            .summary-services 
                .summary-services-left
                    .summary-services-left__text-1 Сбор за дополнительные услуги
                    .summary-services-left__icon &#9432;
                .summary-services-right 300₽ 
            .summary-total 
                .summary-total__text Итого
                .summary-total__box 
                .summary-total__number 38 081₽
                .pickup
            .summary-pickup
                button.pickup__button Забронировать
                span.pickup__icon arrow_forward



