footer.container
    .footer  
        .footer-item 
            a(href="").footer-logo
                img(src="images/logo.png", alt="").footer-logo__img
            .footer-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-item 
            p.footer-list__title Навигация
            ul.footer-list              
                li.footer-list__item
                    a(href="").footer-list__link О нас                
                li.footer-list__item
                    a(href="").footer-list__link Новости
                li.footer-list__item
                    a(href="").footer-list__link Служба поддержки                               
                li.footer-list__item
                    a(href="").footer-list__link Услуги   
        .footer-item 
            p.footer-list__title О нас
            ul.footer-list                 
                li.footer-list__item
                    a(href="").footer-list__link О сервисе                
                li.footer-list__item
                    a(href="").footer-list__link Наша команда
                li.footer-list__item
                    a(href="").footer-list__link Вакансии                              
                li.footer-list__item
                    a(href="").footer-list__link Инвесторы
        .footer-item 
            p.footer-list__title Служба поддержки 
            ul.footer-list            
                li.footer-list__item
                    a(href="").footer-list__link Соглашения 
                li.footer-list__item
                    a(href="").footer-list__link Сообщества                               
                li.footer-list__item
                    a(href="").footer-list__link Связь с нами  
        .footer-item 
            p.footer-list__title Подписка
            .footer-text Получайте специальные предложения и новости сервиса
            form.footer-form(action="") 
                input(type="text" placeholder="Email").footer-form__input
                a(href="").footer-form__link 
                    span.footer-form__icon arrow_forward
    .container
        .copyright-block
            .copyright 
                .copyright-text Copyright &copy; 2018 Toxin отель. Все права защищены.
                ul.copyright-list
                    li.copyright-list__item
                        a(href="").copyright-list__link 
                            img(src="images/socials/twitter.png", alt="").copyright.socials__img 
                    li.copyright-list__item
                        a(href="").copyright-list__link 
                            img(src="images/socials/facebook.png", alt="").copyright.socials__img
                    li.copyright-list__item
                        a(href="").copyright-list__link 
                            img(src="images/socials/insta.png", alt="").copyright.socials__img                                       

            
                                                               