include ../pug/libs/_libs

footer.container
    //- hr.footer-line 
    .footer 
        .footer-item 
            a(href="index.html").footer-logo
                img(src=require(`../src/images/logo.png`) alt='Логотип').footer-logo__img
            .footer-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-item.footer-item-1 
            p.footer-list__title Навигация
            ul.footer-list              
                li.footer-list__item
                    a(href="empty.html").footer-list__link О нас                
                li.footer-list__item
                    a(href="empty.html").footer-list__link Новости
                li.footer-list__item
                    a(href="empty.html").footer-list__link Служба поддержки                               
                li.footer-list__item
                    a(href="empty.html").footer-list__link Услуги   
        .footer-item.footer-item-2 
            p.footer-list__title О нас
            ul.footer-list                 
                li.footer-list__item
                    a(href="empty.html").footer-list__link О сервисе                
                li.footer-list__item
                    a(href="empty.html").footer-list__link Наша команда
                li.footer-list__item
                    a(href="empty.html").footer-list__link Вакансии                              
                li.footer-list__item
                    a(href="empty.html").footer-list__link Инвесторы
        .footer-item.footer-item-3 
            p.footer-list__title Служба поддержки 
            ul.footer-list            
                li.footer-list__item
                    a(href="empty.html").footer-list__link Соглашения 
                li.footer-list__item
                    a(href="empty.html").footer-list__link Сообщества                               
                li.footer-list__item
                    a(href="empty.html").footer-list__link Связь с нами  
        .footer-item.footer-item-4 
            p.footer-list__title Подписка
            .footer-text-subscribe Получайте специальные предложения и новости сервиса
            form.footer-form(action="") 
                input(type="email" placeholder="Email").footer-form__input
                a(href="empty.html").footer-form__link 
                    span.footer-form__icon arrow_forward
    .container
        .copyright-block
            .copyright 
                a(href="index.html").footer-logo.footer-logo-adopted
                    img(src="../src/images/logo.png", alt="Логотип").footer-logo__img            
                .copyright-text Copyright &copy; 2018 Toxin отель. Все права защищены.
                ul.copyright-list
                    li.copyright-list__item
                        a(href="http://www.twitter.com" target="_blank").copyright-list__link
                            img(src=require(`../src/images/socials/twitter.png`) alt='Твиттер').copyright.socials__img 
                    li.copyright-list__item
                        a(href="http://www.facebook.com" target="_blank").copyright-list__link
                            img(src=require(`../src/images/socials/facebook.png`) alt='Фейсбук').copyright.socials__img 
                    li.copyright-list__item
                        a(href="http://www.instagram.com" target="_blank").copyright-list__link
                            img(src=require(`../src/images/socials/insta.png`) alt='Инстаграмм').copyright.socials__img

            
                                                               