include ../pug/libs/_libs

.substrate.js-substrate
header.container
  .header   
    .logo
      a(href="index.html").logo__link
        img(src=require(`../src/images/logo.png`) alt='Логотип').logo__img
    .right
      nav.right-menu
        ul.right-menu-list.js-right-menu-list 
          li.right-menu__item.js-right-menu__item 
            a(href="empty.html").right-menu__link.js-right-menu__link О нас
          li.right-menu__item.js-right-menu__item 
            a(href="empty.html").right-menu__link.js-right-menu__link Услуги
              span.right-menu__icon expand_more
          li.right-menu__item.js-right-menu__item 
            a(href="empty.html").right-menu__link.js-right-menu__link Вакансии
          li.right-menu__item.js-right-menu__item 
            a(href="empty.html").right-menu__link.js-right-menu__link Новости
          li.right-menu__item.js-right-menu__item 
            a(href="empty.html").right-menu__link.js-right-menu__link Соглашения
              span.right-menu__icon expand_more
          li.right-menu__item.js-right-menu__item 
            a(href="login.html").right-menu__link.js-right-menu__link.right-menu__link--burger Войти
            a(href="login.html").right-enter__link
              .right__btn-linear            
          li.right-menu__item.js-right-menu__item 
            a(href="registration.html").right-menu__link.js-right-menu__link.right-menu__link--burger Зарегистироваться
            a(href="registration.html").right-enter__register
              button.right__btn.right__btn-reg зарегистрироваться  
    .header-burger.js-header-burger 
      span.header-burger__span                                                                                              
