include ../pug/libs/_libs

.index-wrapper
  .index-main
    //- img(src=require(`../src/images/index_image.png`) alt='Фото номера на заставке').index-main__img
    .index-main__img
    .index-main__title Лучшие номера для вашей работы, отдыха и просто вдохновения
    .wishes
      h1.wishes__title Найдём номера под ваши пожелания
      .calendar-forms
        form(action="").dates-form
          .dates-form__item
            p.dates-form__title Прибытие 
            input(type="text" placeholder='дд.мм.гггг')#date_1.dates-form__input
            span.dates-form__icon expand_more
          .dates-form__item
            p.dates-form__title Выезд 
            input(type="text" placeholder='дд.мм.гггг')#date_2.dates-form__input
            span.dates-form__icon expand_more
        .datepicker-wrapper
          form.datepicker-form(action="", hidden)
            input#calendar.datepicker-position(type='text', hidden)
            .datepicker__clear Очистить
            .datepicker__ok Применить
      .guests 
        form(action="").guest-form 
          .stay-guest-form__item
              p.stay-guest-form__title-index Гости 
              input(type="text" placeholder='Сколько гостей' adult=0 child=0 baby=0 guests=0).stay-guest-form__input.guest__input.js-guest__input
              span.stay-guest-form__icon.stay-guest-form__icon-index expand_more 
          .guests-block.js-guests-block.block-open           
              .guests-item 
                  .guests-item__title Взрослые
                  .guests-item-buttons
                      button.guests-item__button.guests-item__button-minus.minus-adult.js-minus-adult -
                      .guests-item__result.adult-result.js-adult-result 0              
                      button.guests-item__button.plus-adult.js-plus-adult +
              .guests-item 
                  .guests-item__title Дети
                  .guests-item-buttons
                      button.guests-item__button.guests-item__button-minus.minus-child.js-minus-child -
                      .guests-item__result.child-result.js-child-result 0              
                      button.guests-item__button.plus-child.js-plus-child +
              .guests-item 
                  .guests-item__title Младенцы
                  .guests-item-buttons
                      button.guests-item__button.guests-item__button-minus.minus-baby.js-minus-baby -
                      .guests-item__result.baby-result.js-baby-result 0              
                      button.guests-item__button.plus-baby.js-plus-baby +  
              .guests-item 
                  .guests-confirmation__clear.js-guests-confirmation__clear.opaque Очистить
                  .guests-confirmation__assume.js-guests-confirmation__assume Применить

      .pickup
        .pickup-wrapper
          a(href="search.html").pickup-wrapper-empty
            button.pickup__button Подобрать номер
            span.pickup__icon arrow_forward
  
