include ../pug/libs/_libs

.index-wrapper
  .index-main
    //- +image('index_image') Миксин не действует, т.к. не могу добавить к картинке стили  
    h2.whisper-style Привет!!! Hello
    h2.montserrat-regular-style Привет!!! Hello
    h2.montserrat-bold-style Привет!!! Hello
    img(src=require(`../src/images/index_image.png`) alt='Фото номера на заставке').index-main__img
    .index-main__title Лучшие номера для вашей работы, отдыха и просто вдохновения
    .wishes
      h1.wishes__title Найдём номера под ваши пожелания
      .calendar-forms
        form(action="").dates-form
          .dates-form__item
            p.dates-form__title Прибытие 
            input(type="text" placeholder='дд.мм.гггг')#date_1.dates-form__input
            span.dates-form__icon expand_more
          .dates-form__item
            p.dates-form__title Выезд 
            input(type="text" placeholder='дд.мм.гггг')#date_2.dates-form__input.dates-form-test
            span.dates-form__icon expand_more
        .datepicker-wrapper
          form.datepicker-form(action="", hidden)
            input#calendar.datepicker-position(type='text', hidden)
            .datepicker__clear Очистить
            .datepicker__ok Применить
      .guests 
        form(action="").guest-form 
          .stay-guest-form__item
              p.stay-guest-form__title Гости 
              input(type="text" placeholder='Сколько гостей' adult=0 child=0 baby=0 guests=0).stay-guest-form__input.guest__input
              span.stay-guest-form__icon.stay-guest-form__icon-index expand_more 
          .guests-block.block-open           
              .guests-item 
                  .guests-item__title Взрослые
                  .guests-item-buttons
                      button.guests-item__button.guests-item__button-minus.minus-adult -
                      .guests-item__result.adult-result 0              
                      button.guests-item__button.plus-adult +
              .guests-item 
                  .guests-item__title Дети
                  .guests-item-buttons
                      button.guests-item__button.guests-item__button-minus.minus-child -
                      .guests-item__result.child-result 0              
                      button.guests-item__button.plus-child +
              .guests-item 
                  .guests-item__title Младенцы
                  .guests-item-buttons
                      button.guests-item__button.guests-item__button-minus.minus-baby -
                      .guests-item__result.baby-result 0              
                      button.guests-item__button.plus-baby +  
              .guests-item 
                  .guests-confirmation__clear.opaque Очистить
                  .guests-confirmation__assume Применить

      .pickup
        .pickup-wrapper
          a(href="search.html" target="_blank").pickup-wrapper-empty
            button.pickup__button Подобрать номер
            span.pickup__icon arrow_forward

