doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel="stylesheet", href="../styles/item-quantity-dropdown.css")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    link(rel='stylesheet', href='../styles/style.css')
    title Количество
  body
    .iqdropdown
        p.iqdropdown-selection(data-selection-text="Гость")
        .iqdropdown-menu
            .iqdrop-wrapper
              .iqdropdown-menu-text Взрослые
              .iqdropdown-menu-option(data-id='item1')
            .iqdrop-wrapper
              .iqdropdown-menu-text Дети
              .iqdropdown-menu-option(data-id='item2')
            .iqdrop-wrapper
              .iqdropdown-menu-text Младенцы
              .iqdropdown-menu-option(data-id='item3')                            
    
    script(src='../js/datepicker.min.js')
    script(src='../js/item-quantity-dropdown.js')
    script(src='../js/elements.js')