.search-wrapper
    section.search-sidebar
        form(action="").stay-guest-form
            .stay-guest-form__item
                p.stay-guest-form__title Даты пребывания в отеле 
                input(type="text" placeholder='19 авг - 23 авг').stay-guest-form__input
                span.stay-guest-form__icon expand_more
            .stay-guest-form__item
                p.stay-guest-form__title Гости 
                input(type="text" placeholder='3 гостя, 1 младенец').stay-guest-form__input
                span.stay-guest-form__icon expand_more  
        input(type="text" name='my_range' value='').js-range-slider

    section.search-room Контент