
.uikit-form-block-1
  form(action="").stay-guest-form-uikit
    .stay-guest-form-uikit__item
      .stay-guest-form-uikit__title-block
        .stay-guest-form-uikit__title Text field 
        .stay-guest-form-uikit__title.stay-guest-form-uikit__title-tip Default 
      input(type="text" placeholder="Email").stay-guest-form-uikit__input
    .stay-guest-form-uikit__item
      .stay-guest-form-uikit__title-block
        .stay-guest-form-uikit__title Text field 
        .stay-guest-form-uikit__title.stay-guest-form-uikit__title-tip Hover/Focus 
      input(type="text" placeholder="This is pretty awesome").stay-guest-form-uikit__input.stay-guest-form-uikit__input-hover      
    .stay-guest-form-uikit__item
      .stay-guest-form-uikit__title Dropdown  
      input(type="text" placeholder="Сколько гостей").stay-guest-form-uikit__input.stay-guest-form-uikit__input-how
      span.stay-guest-form-uikit__icon expand_more  
    .stay-guest-form-uikit__item
      .stay-guest-form-uikit__title Masked Text field 
      input(type="text" placeholder="ДД.ММ.ГГГГ").stay-guest-form-uikit__input
    .stay-guest-form-uikit__item
      .stay-guest-form-uikit-drops
        .stay-guest-form-uikit-drop
          .stay-guest-form-uikit__title Date Dropdown 
          input(type="text" placeholder="ДД.ММ.ГГГГ").stay-guest-form-uikit__input.stay-guest-form-uikit__input-drop     
          span.stay-guest-form-uikit__icon.stay-guest-form-uikit__icon-drop1 expand_more
        .stay-guest-form-uikit-drop
          .stay-guest-form-uikit__title Date Dropdown 
          input(type="text" placeholder="19.08.2019").stay-guest-form-uikit__input.stay-guest-form-uikit__input-drop             
          span.stay-guest-form-uikit__icon.stay-guest-form-uikit__icon-drop2 expand_more
    .stay-guest-form-uikit__item.stay-guest-form-uikit__item-filter
      .stay-guest-form-uikit__title Filter Date Dropdown 
      input(type="text" placeholder="19 авг - 23 авг").stay-guest-form-uikit__input.stay-guest-form-uikit__input-filter      
      span.stay-guest-form-uikit__icon.stay-guest-form-uikit__icon-filter expand_more
    .stay-guest-form-uikit__item.stay-guest-form-uikit__item-filter
      .stay-guest-form-uikit__title Subscription Text Field 
      input(type="text" placeholder="Email").stay-guest-form-uikit__input.stay-guest-form-uikit__input-sub
      span.stay-guest-form-uikit__aricon arrow_forward
