
.uikit-form-block-1
  form(action="").stay-guest-form-uikit
    .stay-guest-form-uikit__item
      .stay-guest-form-uikit__title-block
        .stay-guest-form-uikit__title Text field 
        .stay-guest-form-uikit__title.stay-guest-form-uikit__title-tip Default 
      input(type="text" placeholder="Email").stay-guest-form-uikit__input
    .stay-guest-form-uikit__item
      .stay-guest-form-uikit__title-block
        .stay-guest-form-uikit__title Text field 
        .stay-guest-form-uikit__title.stay-guest-form-uikit__title-tip Hover/Focus 
      input(type="text" placeholder="This is pretty awesome").stay-guest-form-uikit__input.stay-guest-form-uikit__input-hover      
    .stay-guest-form-uikit__item
      .stay-guest-form-uikit__title Dropdown  
      input(type="text" placeholder="Сколько гостей").stay-guest-form-uikit__input.stay-guest-form-uikit__input-how
      span.stay-guest-form-uikit__icon expand_more  
    .stay-guest-form-uikit__item
      .stay-guest-form-uikit__title Masked Text field 
      input(type="text" placeholder="ДД.ММ.ГГГГ").stay-guest-form-uikit__input
    .stay-guest-form-uikit__item
      .stay-guest-form-uikit-drops
        .stay-guest-form-uikit-drop
          .stay-guest-form-uikit__title Date Dropdown 
          input(type="text" placeholder="ДД.ММ.ГГГГ").stay-guest-form-uikit__input.stay-guest-form-uikit__input-drop     
          span.stay-guest-form-uikit__icon.stay-guest-form-uikit__icon-drop1 expand_more
        .stay-guest-form-uikit-drop
          .stay-guest-form-uikit__title Date Dropdown 
          input(type="text" placeholder="19.08.2019").stay-guest-form-uikit__input.stay-guest-form-uikit__input-drop             
          span.stay-guest-form-uikit__icon.stay-guest-form-uikit__icon-drop2 expand_more
    .stay-guest-form-uikit__item.stay-guest-form-uikit__item-filter
      .stay-guest-form-uikit__title Filter Date Dropdown 
      input(type="text" placeholder="19 авг - 23 авг").stay-guest-form-uikit__input.stay-guest-form-uikit__input-filter      
      span.stay-guest-form-uikit__icon.stay-guest-form-uikit__icon-filter expand_more
    .stay-guest-form-uikit__item.stay-guest-form-uikit__item-filter
      .stay-guest-form-uikit__title Subscription Text Field 
      input(type="text" placeholder="Email").stay-guest-form-uikit__input.stay-guest-form-uikit__input-sub
      span.stay-guest-form-uikit__aricon arrow_forward

.uikit-form-block-2      
  form(action="").home-rule-form.uikit-rule
    .home-rule-form__title Checkbox Buttons
    .home-rule-form__item 
      input(type="checkbox" id="smoke").home-rule-form__input
      label(for="smoke").home-rule-form__label Можно курить 
    .home-rule-form__item 
      input(type="checkbox" id="pets").home-rule-form__input
      label(for="pets").home-rule-form__label Можно с питомцами
    .home-rule-form__item 
      input(type="checkbox" id="guests").home-rule-form__input
      label(for="guests").home-rule-form__label Можно пригласить гостей (до 10 человек)
  //- Класс .registration-card-form оставил, хотя он пустой     

  form(action="").registration-card-form.uikit-registration-sex 
    .home-rule-form__title Radio Buttons
    .registration-card-form-sex
      .registration-card-form-sex-item
        input(type="radio" id="male" name="sex" checked).registration-card-form-sex__input
        label(for="male").registration-card-form-sex__label Мужчина
      .registration-card-form-sex-item                           
        input(type="radio" id="female" name="sex").registration-card-form-sex__input
        label(for="female").registration-card-form-sex__label Женщина 
    .home-rule-form__title.uikit-proposal-form Toggle       
    .registration-card-form-proposal
      input(type="checkbox" id="proposal" name="proposal").registration-card-form-proposal__input
      label(for="proposal").registration-card-form-proposal__label Получать спецпредложения   
    .registration-card-form-proposal.uikit-proposal-item
      input(type="checkbox" id="proposal" name="proposal").registration-card-form-proposal__input
      label(for="proposal").registration-card-form-proposal__label Получать спецпредложения 

  .home-rule-form__title.uikit-like__title Like Button
  .uikit-favorite
    .reviews-item.uikit-favorite-item 
      .reviews-item-left 
        .reviews-item-left__favor.uikit-left__favor
          span.reviews-item-left__icon favorite_border
          .reviews-item-left__favortext 12
    .reviews-item.uikit-favorite-item  
      .reviews-item-left 
        .reviews-item-left__favor.uikit-right__favor
          span.reviews-item-left__icon favorite
          .reviews-item-left__favortext 12

  .home-rule-form__title.uikit-rate__title Rate Button
  .uikit-rates
    .search-room-stars
      span.search-room__star star
      span.search-room__star star
      span.search-room__star star
      span.search-room__star star
      span.search-room__star star_border  
    .search-room-stars
      span.search-room__star star
      span.search-room__star star
      span.search-room__star star
      span.search-room__star star
      span.search-room__star star

.uikit-form-block-3
  .sliderp.uikit-sliderp 
    .sliderp-title-wrapper 
      .sliderp-title Range Slider
      .sliderp-label-wrapper
        label.sliderp__label 
          input(type="number" placeholder='5000').sliderp__input#input-0
          span.sliderp__span ₽ -
        label.sliderp__label 
          input(type="number" placeholder='10000').sliderp__input#input-1  
          span.sliderp__span ₽    
    #nouislider

  .home-rule-form__title.uikit-buttons__title Buttons    
  button.right__btn.right__btn-reg.uikit-btn-reg Click Me    
  button.right__btn.right__btn-reg.uikit-btn-reg-inact Click Me 

  .uikit-btn-linears
    .right__btn-linear.uikit-btn-linear   
    .right__btn-linear.uikit-btn-linear-inact 
  .uikit-btn-words
    .right__btn-linear.uikit-btn-linear-word
    .right__btn-linear.uikit-btn-linear-word-inact

  .summary-pickup.uikit-pickup
    button.pickup__button Перейти к оплате
    span.pickup__icon arrow_forward

  .home-rule-form__title.uikit-pagination__title Pagination
  .paginator.uikit-paginator 
    a(href="/src/empty.html" target="_blank").paginator__item.paginator__current 1                                                                                                                                                                                                                                                                        
    a(href="/src/empty.html" target="_blank").paginator__item 2                                                                                                                                                                                                                                                                        
    a(href="/src/empty.html" target="_blank").paginator__item 3                                                                                                                                                                                                                                                                       
    a(href="/src/empty.html" target="_blank").paginator__item &hellip;                                                                                                                                                                                                                                                                       
    a(href="/src/empty.html" target="_blank").paginator__item 15                                                                                                                                                                                                                                                                       
    a(href="/src/empty.html" target="_blank").paginator__icon arrow_forward
    .paginator__text 1 – 12 из 100+ вариантов аренды         

    
