doctype html
html(lang="en")
  head
    title UI kit
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")    
  body
    .uikit-header
      img(src=require(`../../../src/pages/uikit/logo_circle.png`) alt="Логотип").uikit-header-logo   
    .uikit-forms
      .uikit-form-block-1
        form(action="").stay-guest-form-uikit
          .stay-guest-form-uikit__item
            .stay-guest-form-uikit__title-block
              .stay-guest-form-uikit__title Text field 
              .stay-guest-form-uikit__title.stay-guest-form-uikit__title-tip Default 
            input(type="text" placeholder="Email").stay-guest-form-uikit__input
          .stay-guest-form-uikit__item
            .stay-guest-form-uikit__title-block
              .stay-guest-form-uikit__title Text field 
              .stay-guest-form-uikit__title.stay-guest-form-uikit__title-tip Hover/Focus 
            input(type="text" placeholder="This is pretty awesome").stay-guest-form-uikit__input.stay-guest-form-uikit__input-hover      
          .stay-guest-form-uikit__item
            .stay-guest-form-uikit__title Dropdown  
            input(type="text" placeholder="Сколько гостей").stay-guest-form-uikit__input.stay-guest-form-uikit__input-how
            span.stay-guest-form-uikit__icon expand_more  
          .stay-guest-form-uikit__item
            .stay-guest-form-uikit__title Masked Text field 
            input(type="text" placeholder="ДД.ММ.ГГГГ").stay-guest-form-uikit__input
          .stay-guest-form-uikit__item
            .stay-guest-form-uikit-drops
              .stay-guest-form-uikit-drop
                .stay-guest-form-uikit__title Date Dropdown 
                input(type="text" placeholder="ДД.ММ.ГГГГ").stay-guest-form-uikit__input.stay-guest-form-uikit__input-drop     
                span.stay-guest-form-uikit__icon.stay-guest-form-uikit__icon-drop1 expand_more
              .stay-guest-form-uikit-drop
                .stay-guest-form-uikit__title Date Dropdown 
                input(type="text" placeholder="19.08.2019").stay-guest-form-uikit__input.stay-guest-form-uikit__input-drop             
                span.stay-guest-form-uikit__icon.stay-guest-form-uikit__icon-drop2 expand_more
          .stay-guest-form-uikit__item.stay-guest-form-uikit__item-filter
            .stay-guest-form-uikit__title Filter Date Dropdown 
            input(type="text" placeholder="19 авг - 23 авг").stay-guest-form-uikit__input.stay-guest-form-uikit__input-filter      
            span.stay-guest-form-uikit__icon.stay-guest-form-uikit__icon-filter expand_more
          .stay-guest-form-uikit__item.stay-guest-form-uikit__item-filter
            .stay-guest-form-uikit__title Subscription Text Field 
            input(type="text" placeholder="Email").stay-guest-form-uikit__input.stay-guest-form-uikit__input-sub
            span.stay-guest-form-uikit__aricon arrow_forward

      .uikit-form-block-2      
        form(action="").home-rule-form.uikit-rule
          .home-rule-form__title Checkbox Buttons
          .home-rule-form__item 
            input(type="checkbox" id="smoke").home-rule-form__input
            label(for="smoke").home-rule-form__label Можно курить 
          .home-rule-form__item 
            input(type="checkbox" id="pets").home-rule-form__input
            label(for="pets").home-rule-form__label Можно с питомцами
          .home-rule-form__item 
            input(type="checkbox" id="guests").home-rule-form__input
            label(for="guests").home-rule-form__label Можно пригласить гостей (до 10 человек)
        //- Класс .registration-card-form оставил, хотя он пустой     

        form(action="").registration-card-form.uikit-registration-sex 
          .home-rule-form__title Radio Buttons
          .registration-card-form-sex
            .registration-card-form-sex-item
              input(type="radio" id="male" name="sex" checked).registration-card-form-sex__input
              label(for="male").registration-card-form-sex__label Мужчина
            .registration-card-form-sex-item                           
              input(type="radio" id="female" name="sex").registration-card-form-sex__input
              label(for="female").registration-card-form-sex__label Женщина 
          .home-rule-form__title.uikit-proposal-form Toggle       
          .registration-card-form-proposal
            input(type="checkbox" id="proposal" name="proposal").registration-card-form-proposal__input
            label(for="proposal").registration-card-form-proposal__label Получать спецпредложения   
          .registration-card-form-proposal.uikit-proposal-item
            input(type="checkbox" id="proposal" name="proposal").registration-card-form-proposal__input
            label(for="proposal").registration-card-form-proposal__label Получать спецпредложения 

        .home-rule-form__title.uikit-like__title Like Button
        .uikit-favorite
          .reviews-item.uikit-favorite-item 
            .reviews-item-left 
              .reviews-item-left__favor.uikit-left__favor
                  svg(xmlns="http://www.w3.org/2000/svg" height="10px" viewBox="0 0 24 24" width="10px" fill="#000000").reviews-item-left__icon
                    path(d="M0 0h24v24H0z" fill="none")
                    path(d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" fill="url('#myFavoriteBorder')") 
                    defs
                      linearGradient(id="myFavoriteBorder" gradientTransform="rotate(90)")
                        stop(offset="0%"  stop-color="#BC9CFF")
                        stop(offset="100%" stop-color="#8BA4F9")                                          
                  .reviews-item-left__favortext 12
          .reviews-item.uikit-favorite-item  
            .reviews-item-left 
              .reviews-item-left__favor.uikit-right__favor
                  svg(xmlns="http://www.w3.org/2000/svg" height="10px" viewBox="0 0 24 24" width="10px" fill="#000000").reviews-item-left__icon
                    path(d="M0 0h24v24H0z" fill="none")
                    path(d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" fill="url('#myFavorite')") 
                    defs
                      linearGradient(id="myFavorite" gradientTransform="rotate(90)")
                        stop(offset="0%"  stop-color="#BC9CFF")
                        stop(offset="100%" stop-color="#8BA4F9")              
                  .reviews-item-left__favortext 12

        .home-rule-form__title.uikit-rate__title Rate Button
        .uikit-rates
          .search-room-stars
            span.search-room__star star
            span.search-room__star star
            span.search-room__star star
            span.search-room__star star
            span.search-room__star star_border  
          .search-room-stars
            span.search-room__star star
            span.search-room__star star
            span.search-room__star star
            span.search-room__star star
            span.search-room__star star

      .uikit-form-block-3
        .sliderp.uikit-sliderp 
          .sliderp-title-wrapper.uikit-sliderp-title-wrapper 
            .sliderp-title Range Slider
            .sliderp-label-wrapper
              label.sliderp__label 
                input(type="number" placeholder='5000').sliderp__input#input-0
                span.sliderp__span ₽ -
              label.sliderp__label 
                input(type="number" placeholder='10000').sliderp__input#input-1  
                span.sliderp__span ₽    
          #nouislider

        .home-rule-form__title.uikit-buttons__title Buttons    
        button.right__btn.right__btn-reg.uikit-btn-reg Click Me    
        button.right__btn.right__btn-reg.uikit-btn-reg-inact Click Me 

        .uikit-btn-linears
          .right__btn-linear.uikit-btn-linear   
          .right__btn-linear.uikit-btn-linear-inact 
        .uikit-btn-words
          .right__btn-linear.uikit-btn-linear-word
          .right__btn-linear.uikit-btn-linear-word-inact

        .summary-pickup.uikit-pickup
          button.pickup__button Перейти к оплате
          span.pickup__icon arrow_forward

        .home-rule-form__title.uikit-pagination__title Pagination
        .paginator.uikit-paginator 
          a(href="/src/empty.html" target="_blank").paginator__item.paginator__current 1                                                                                                                                                                                                                                                                        
          a(href="/src/empty.html" target="_blank").paginator__item 2                                                                                                                                                                                                                                                                        
          a(href="/src/empty.html" target="_blank").paginator__item 3                                                                                                                                                                                                                                                                       
          a(href="/src/empty.html" target="_blank").paginator__item &hellip;                                                                                                                                                                                                                                                                       
          a(href="/src/empty.html" target="_blank").paginator__item 15                                                                                                                                                                                                                                                                       
          a(href="/src/empty.html" target="_blank").paginator__icon arrow_forward
          .paginator__text 1 – 12 из 100+ вариантов аренды         

      .uikit-form-block-4
        .amenity.uikit-amenity
          .uikit-amenity-titles
            .amenity__title.uikit-amenity__title Dropdown
            .uikit-amenity__default Default
          form(action="").amenity-form
            input(type="text" placeholder="2 спальни, 2 кровати..." sleep=0 bed=0 bath=0 ).uikit-amenity-form__input
            span.amenity-form__icon expand_more

        .amenity.uikit-amenity.uikit-amenity-second
          .uikit-amenity-titles
            .amenity__title.uikit-amenity__title Dropdown
            .uikit-amenity__default Expanded
          form(action="").amenity-form
            input(type="text" placeholder="2 спальни, 2 кровати..." sleep=0 bed=0 bath=0 ).amenity-form__input
            span.amenity-form__icon expand_more
          .uikit-amenity-block
            .amenity-item 
              .amenity-item__title Спальни
              .amenity-item-buttons
                button.amenity-item__button.amenity-item__button-minus#minus-sleep -
                .amenity-item__result#sleep-result 0              
                button.amenity-item__button#plus-sleep +
            .amenity-item 
              .amenity-item__title Кровати
              .amenity-item-buttons
                button.amenity-item__button.amenity-item__button-minus#minus-bed -
                .amenity-item__result#bed-result 0              
                button.amenity-item__button#plus-bed +
            .amenity-item 
              .amenity-item__title Ванные комнаты
              .amenity-item-buttons
                button.amenity-item__button.amenity-item__button-minus#minus-bath -
                .amenity-item__result#bath-result 0              
                button.amenity-item__button#plus-bath +   

      .uikit-form-block-7
        .additional.uikit-additional 
          .uikit-additional__title Expandable checkbox list
          .uikit-additional__icon expand_more            
      
        .additional.uikit-additional-second 
          .uikit-additional__title Expandable checkbox list
          .uikit-additional__icon.rotated__icon expand_more
          .additional-block
            form(action="").additional-block-form
              .additional-block-form__item 
                input(type="checkbox" id="breakfast").additional-block-form__input
                label(for="breakfast").additional-block-form__label Завтрак
              .additional-block-form__item 
                input(type="checkbox" id="desk" checked).additional-block-form__input
                label(for="desk").additional-block-form__label Письменный стол
              .additional-block-form__item 
                input(type="checkbox" id="chair" checked).additional-block-form__input
                label(for="chair").additional-block-form__label Стул для кормления
              .additional-block-form__item 
                input(type="checkbox" id="little-bed" checked).additional-block-form__input
                label(for="little-bed").additional-block-form__label Кроватка
              .additional-block-form__item 
                input(type="checkbox" id="TV-1").additional-block-form__input
                label(for="TV-1").additional-block-form__label Телевизор
              .additional-block-form__item 
                input(type="checkbox" id="shampoo-1").additional-block-form__input
                label(for="shampoo-1").additional-block-form__label Шампунь
              .additional-block-form__item 
                input(type="checkbox" id="TV-2").additional-block-form__input
                label(for="TV-2").additional-block-form__label Телевизор
              .additional-block-form__item 
                input(type="checkbox" id="shampoo-2").additional-block-form__input
                label(for="shampoo-2").additional-block-form__label Шампунь 

      .uikit-form-block-10
        .roominfo-item.uikit-roominfo-item 
          span.roominfo-item__span insert_emoticon
          .roominfo-item-text
            .roominfo-item-text__title Комфорт
            .roominfo-item-text__desc Шумопоглощающие стены

        .roominfo-item.uikit-roominfo-item-second 
          span.roominfo-item__span location_city
          .roominfo-item-text
            .roominfo-item-text__title Удобство 
            .roominfo-item-text__desc Окно в каждой из спален  

      .uikit-form-block-5   
        .uikit-guests-wrapper
          .stay-guest-form__item
            p.stay-guest-form__title.uikit-stay-guest-form__title Dropdown 
            input(type="text" placeholder='Сколько гостей' adult=0 child=0 baby=0 guests=0).stay-guest-form__input.guest__input
            span.stay-guest-form__icon.uikit-guests__icon expand_more 
          .guests-block           
            .guests-item 
              .guests-item__title Взрослые
              .guests-item-buttons
                button.guests-item__button.guests-item__button-minus.minus-adult -
                .guests-item__result.adult-result 0              
                button.guests-item__button.plus-adult +
            .guests-item 
              .guests-item__title Дети
              .guests-item-buttons
                button.guests-item__button.guests-item__button-minus.minus-child -
                .guests-item__result.child-result 0              
                button.guests-item__button.plus-child +
            .guests-item 
              .guests-item__title Младенцы
              .guests-item-buttons
                button.guests-item__button.guests-item__button-minus.minus-baby -
                .guests-item__result.baby-result 0              
                button.guests-item__button.plus-baby +  
            .guests-item 
              .guests-confirmation__clear.opaque Очистить
              .guests-confirmation__assume Применить 

      .uikit-form-block-8
        form(action="").availability-form.uikit-availability
          .availability-form__title Rich Checkbox Buttons
          .availability-form__item
            input(type="checkbox" id="corridor").availability-form__input
            label(for="corridor").availability-form__label Широкий коридор
              p.availability-form__text Ширина коридоров в номере не менее 91 см.             
          .availability-form__item 
            input(type="checkbox" id="assistant").availability-form__input
            label(for="assistant").availability-form__label Помощник для инвалидов
              p.availability-form__text На 1 этаже вас встретит специалист и проводит до номера. 

      .uikit-form-block-6    
        .uikit-guests-wrapper
          .stay-guest-form__item
            p.stay-guest-form__title.uikit-stay-guest-form__title Dropdown 
            input(type="text" placeholder='3 гостя' adult=0 child=0 baby=0 guests=0).stay-guest-form__input.guest__input
            span.stay-guest-form__icon.uikit-guests__icon expand_more 
          .guests-block           
            .guests-item 
              .guests-item__title Взрослые
              .guests-item-buttons
                button.guests-item__button.guests-item__button-minus.minus-adult -
                .guests-item__result.adult-result 2              
                button.guests-item__button.plus-adult +
            .guests-item 
              .guests-item__title Дети
              .guests-item-buttons
                button.guests-item__button.guests-item__button-minus.minus-child -
                .guests-item__result.child-result 1              
                button.guests-item__button.plus-child +
            .guests-item 
              .guests-item__title Младенцы
              .guests-item-buttons
                button.guests-item__button.guests-item__button-minus.minus-baby -
                .guests-item__result.baby-result 0              
                button.guests-item__button.plus-baby +  
            .guests-item 
              .guests-confirmation__clear Очистить
              .guests-confirmation__assume Применить 

      .uikit-form-block-9
        section.rules.uikit-rules 
          .stay-guest-form__title.uikit-rules__title Bullet List
          .uikit-rules-wrapper
            .rules-item.uikit-rules-item Нельзя с питомцами             
            .rules-item.uikit-rules-item Без вечеринок и мероприятий            
            .rules-item.uikit-rules-item Время прибытия — после 13:00, а выезд до 12:00                                       

      .uikit-form-block-11 
        .reviews-item.uikit-reviews-item 
          .reviews-item-left 
            img(src=require(`../../../src/pages/uikit/vizitor_1.jpg`) alt="Фото посетителя").reviews-item-left__img
            .reviews-item-left__favor
              span.reviews-item-left__icon favorite
              .reviews-item-left__favortext 12
          .reviews-item-right
            .reviews-item-right__title Мурад Сарафанов
            .reviews-item-right__days 5 дней назад
            .reviews-item-right__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.

