doctype html
html(lang="en")
  head
    title UI kit Index
    meta(name="viewport" content="width=device-width, initial-scale=1.0")    
  body
    .uikit-index-container
        .uikit-index-container__title UI kit - компоненты
        a(href='uikit_colors.html').uikit-index-container__link
            .uikit-index-container__text Цвета и шрифт
        a(href='uikit_cards.html').uikit-index-container__link
            .uikit-index-container__text Карточки
        a(href='uikit_form.html').uikit-index-container__link
            .uikit-index-container__text Формы
        a(href='uikit_headers_footers.html').uikit-index-container__link
            .uikit-index-container__text Хедеры и футеры