doctype html
html(lang="en")
  head
    title UI kit
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")    
  body
    .uikit-header
      img(src=require(`../../src/uikit/logo_circle.png`) alt="Логотип").uikit-header-logo
    .uikit
      section.uikit-colours-items
        article.uikit-colours-items-item 
          .uikit-colours-items-item__rect.uikit-colours-items-item__rect-1 
          .uikit-colours-items-item-text
            .uikit-colours-items-item-text__title Dark Shade 100%
            .uikit-colours-items-item-text__code #1F2041
        article.uikit-colours-items-item 
          .uikit-colours-items-item__rect.uikit-colours-items-item__rect-2 
          .uikit-colours-items-item-text
            .uikit-colours-items-item-text__title Dark Shade 75%
            .uikit-colours-items-item-text__code #1F2041
        article.uikit-colours-items-item 
          .uikit-colours-items-item__rect.uikit-colours-items-item__rect-3 
          .uikit-colours-items-item-text
            .uikit-colours-items-item-text__title Dark Shade 50%
            .uikit-colours-items-item-text__code #1F2041
        article.uikit-colours-items-item 
          .uikit-colours-items-item__rect.uikit-colours-items-item__rect-4 
          .uikit-colours-items-item-text
            .uikit-colours-items-item-text__title Dark Shade 25%
            .uikit-colours-items-item-text__code #1F2041
        article.uikit-colours-items-item 
          .uikit-colours-items-item__rect.uikit-colours-items-item__rect-5 
          .uikit-colours-items-item-text
            .uikit-colours-items-item-text__title Dark Shade 100%
            .uikit-colours-items-item-text__code #1F2041
        article.uikit-colours-items-item 
          .uikit-colours-items-item__rect.uikit-colours-items-item__rect-6 
          .uikit-colours-items-item-text
            .uikit-colours-items-item-text__title Purple
            .uikit-colours-items-item-text__code #BC9CFF
        article.uikit-colours-items-item 
          .uikit-colours-items-item__rect.uikit-colours-items-item__rect-7 
          .uikit-colours-items-item-text
            .uikit-colours-items-item-text__title Green
            .uikit-colours-items-item-text__code #6FCF97                                                             
      section.uikit-types-items  
        .uikit-types-items-item__header.uikit-types-items-item__header-1 H1
        .uikit-types-items-item__text.uikit-types-items-item__text-1 This one is the sub-section or widget title    
        .uikit-types-items-item__header.uikit-types-items-item__header-2 H2
        .uikit-types-items-item__text.uikit-types-items-item__text-2 Next one is the item title inside widgets
        .uikit-types-items-item__header.uikit-types-items-item__header-3 H3                                                             
        .uikit-types-items-item__text.uikit-types-items-item__text-3 This is a label or CTA text 
        .uikit-types-items-item__header.uikit-types-items-item__header-4 Body 
        .uikit-types-items-item__text.uikit-types-items-item__text-4 This is the body text which is used for most 
                                                                      |of the design, like paragraphs, lists, etc.
