@font-face {
    font-family: Whisper;
    src: url('../fonts/Whisper-Regular.ttf') format("truetype")
  }

@font-face {
    font-family: "Montserrat Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype")
} 

@font-face {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype")
} 

.montserrat-regular-style {
    font-family: "Montserrat Regular";
    margin: 0;
}
  
.montserrat-bold-style {
    font-family: "Montserrat Bold";
    margin: 0;
}