@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container {
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

// HEADER//////////////////////////////////////////////////////////////////////////////////

.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}
.right {
    display: flex;
    &-menu {
        display: flex;
        &__item {
            vertical-align: middle;
            margin-right: 20px;
            align-self: center;
        }
        &__link {
            text-decoration: none;
            color: #1F204180;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-style: normal;
            line-height: 17.07px;
            font-size: 14px;
        }
        &__icon {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;  /* Preferred icon size */
            line-height: 1;
            vertical-align: middle;
        }
    }
    &__btn {
        height: 34px;
        border-radius: 22px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 14.63px;
        padding: 9px 20px 10px 19px;
        margin-right: 20px;
        margin-top: 18px;
        margin-bottom: 18px;
        text-transform: uppercase;
        border: none;
        &:last-child {
            margin-right: 0;
        }
        &-in {
            width: 87px;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
            color: #BC9CFF;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                background-image: url(images/border_in.png);
                width: 87px;
                height: 34px;
                top: -1px;
                left: -1px;
            }
        }
        &-reg {
            width: 196px;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            color: #FFFFFF;
            border: none;
        }
    }
}

/////////////////////// END HEADER ////////////////////////////////////////////////////////

///////////////////////INDEX MAIN CONTENT /////////////////////////////////////////////////


.index-main {
    margin-bottom: 95px;
    position: relative;
    &__img {
        height: 830px;
        width: 100%;
    }
    &__title {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
        top: 760px;
        left: 1025px;
        width: 297px;
        text-align: end;
        line-height: 24px;
    }
}

.wishes {
    position: absolute;
    top: 67px;
    left: 155px;
    width: 380px;
    height: 374;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 21px;
    }
}

.calendar-forms {
    position: relative;
}

.dates-form {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    &__item {
        position: relative;
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase; 
        margin-top: 0;
        margin-bottom: 5px;
    }
    &__input {
        width: 150px;
        height: 44px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
        padding-top: 11px;
        padding-bottom: 13px;
        padding-left: 15px;
        box-sizing: border-box;
        text-transform: uppercase;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
    }
    &__icon {
        position: absolute;
        top: 30px;
        left: 117px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        vertical-align: middle;
        color: rgba(31, 32, 65, 0.5);
    }

}
.guests {
    position: relative;
    .guest-form {
        margin-left: 30px;
        margin-right: 30px;
        &__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 22px;
            margin-bottom: 5px;
        }
        &__input {
            width: 100%;
            height: 44px;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.75);
            padding-top: 11px;
            padding-bottom: 13px;
            padding-left: 15px;
            box-sizing: border-box;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
        }
        &__icon {
            position: absolute;
            top: 30px;
            right: 38px;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            vertical-align: middle;
            color: rgba(31, 32, 65, 0.5);
        }
    }

    &__clear {
        position: absolute;
        top: 132px;
        left: 14px;
        text-transform: lowercase;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: rgba(188, 156, 255, 1);
        cursor: pointer;
    }
    &__ok {
        position: absolute;
        top: 132px;
        left: 227px;
        text-transform: lowercase;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: rgba(188, 156, 255, 1);
        cursor: pointer;
    }

}

.pickup {           
    &-wrapper {
        margin-top: 35px;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
        position: relative;
    }
    &__button {
        width: 100%;
        height: 34px;
        border-radius: 22px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 14.63px;
        padding-top: 14px;
        padding-bottom: 27px;
        text-transform: uppercase;
        border: none;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        color: #FFFFFF;
        border: none;
    }
    &__icon {
        position: absolute;
        top: 10px;
        right: 8px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        vertical-align: middle;
        color: #ffffff;
    }
}
 
.datepicker {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #4a4a4a;
    width: 250px;
    width: 320px;
    height: 369px; 
    &--body {
        padding-left: 15px;
        padding-right: 15px;
    }
    &--days-names {
        margin-bottom: 18px;
    }
    &--day-name {
        color: #BC9CFF;
        font-weight: 700;
        text-transform: none;
    }
    &--cell {
        height: 39px;

    }
    &--cell-day {
        width: 14.28571%;
        color: rgba(31, 32, 65, 0.5);    
    }
    &--nav-title {
        font-size: 19px;
        font-weight: 700;
        line-height: 23.16px;
        color: #1F2041;
        padding-top: 18px;
        padding-bottom: 26px;
    }
    &--cell.-selected-{
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 50%;
    }
    &--cell.-focus-{
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 50%;
    }
    &--cell.-in-range-{
        background: rgba(188,156,255, 0.25);
    }
    &-wrapper {
        position: absolute;
        z-index: 100;
        left: 28px;
        top: 68px;
    }
    &-form {
        position: relative;
        width: 200px;
        height: 200px;

    }
    &__clear {
        position: absolute;
        top: 333px;
        left: 20px;
        text-transform: lowercase;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: rgba(188, 156, 255, 1);
        cursor: pointer;
    }
    &__ok {
        position: absolute;
        top: 333px;
        left: 215px;
        text-transform: lowercase;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: rgba(188, 156, 255, 1);
        cursor: pointer;
    }
    &--nav-action {
        margin-left: 10px;
        margin-top: -12px;
        margin-right: 10px;
    }
    &--nav-action path {
        stroke-width: 0;
        fill: #BC9CFF;
    }
    &--nav-action svg {
        width: 17px;
        height: 18px;
    }
}


button {
    border-radius: 50%;
}

.iqdrop-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    padding-left: 15px;
    padding-top: 1px;
}

.iqdropdown-menu-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.button-newdecrement {
    position: relative;
    &__icon {
        position: absolute;
        top: 10px;
        right: 8px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        line-height: 1;
        vertical-align: middle;
        color: rgba(31, 32, 65, 0.5);
    }
}

.button-newincrement {
    position: relative;
    &__icon {
        position: absolute;
        top: 10px;
        right: 8px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        line-height: 1;
        vertical-align: middle;
        color: rgba(31, 32, 65, 0.5);
    }
}

////////////////////////////////////END INDEX MAIN CONTENT////////////////////////////////

//////////////////////////////////FOOTER///////////////////////////////////////////////////

.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 100px;
    &-line {
        height: 1px;
        background-color: rgba(31, 32, 65, 0.25);
        color: rgba(31, 32, 65, 0.25);
        margin-bottom: 100px;
    }
    &-item {
        font-family: 'Montserrat', sans-serif;
    }
    &-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        width: 260px;
        color: #1F2041;
        font-size: 14px;
        opacity: 0.75;
        line-height: 24px;
        margin-top: 12px;
        letter-spacing: 0;
    }
    &-text-subscribe {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        width: 260px;
        color: #1F2041;
        font-size: 14px;
        opacity: 0.75;
        line-height: 24px;
        margin-top: 19px;
        letter-spacing: 0;
    }
    &-list {
        list-style: none;
        padding: 0;
        margin: 0;
        &__title {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
            margin-top: 5px;
        }
        &__item {
            margin-top: 20px;
            line-height: 17px;
            font-size: 14px;
            letter-spacing: 0;
        }
        &__link {
            text-decoration: none;
            color: #1F2041;
            opacity: 0.5;
        }
    }

    &-form {
        position: relative;
        &__input {
            height: 44px;
            width: 260px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
            margin-top: 20px;
            padding-top: 12px;
            padding-bottom: 8px;
            padding-left: 15px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 14px;
        }
        &__icon {
            position: absolute;
            top: 30px;
            right: 8px;
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;
            color: rgb(188,156,255);
            
        } 
    }
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-block {
        padding-left: 125px;
        padding-right: 125px;
        margin-top: 16px;        
    }
    &-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17,07px;
        color: rgba(31, 32, 65, 0.75);
        letter-spacing: 0;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        &__item {
            margin-left: 20px;
            
        }
    }
}

////////////////////////////////////END FOOTER//////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////SEARCH PAGE///////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////


.search {
    &-wrapper {
        display: flex;
        max-width: 1440px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto; 
    }
    &-sidebar {
        width: 466px;
        padding-right: 60px;
        padding-left: 140px;
        box-sizing: border-box;
    }
    &-room {
        width: 974px;
        // flex-grow: 1;
    }
}

.stay-guest-form {
    &__item {
        position: relative;
        &:last-child {
            margin-top: 22px;
        }
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase; 
        margin-top: 27px;
        margin-bottom: 5px;
    }
    &__input {
        width: 100%;
        height: 44px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
        padding-top: 11px;
        padding-bottom: 13px;
        padding-left: 15px;
        box-sizing: border-box;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
    }
    &__icon {
        position: absolute;
        top: 30px;
        left: 233px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        vertical-align: middle;
        color: rgba(31, 32, 65, 0.5);
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sliderp {
    &-title-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    &-label-wrapper {
      display: flex;
      align-items: flex-start;
    }
    &-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase; 
        margin-top: 0;
        margin-bottom: 5px;
    }
    &__label {
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }
    &__input {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
        border: none;
        width: 45px;
        text-align: right;
        padding: 0;
    }
    &__span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
        margin-left: 5px;
    }
    &-bottom-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
    }
}

#nouislider {
    margin-bottom: 15px;
}

.noUi-target {
    background: #fff;
    border-radius: 3px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    height: 6px;
}

.noUi-connect {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: none;
}

.noUi-handle {
    cursor: default;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.noUi-horizontal .noUi-handle {
    width: 12px;
    height: 12px;
    right: -4px;
    top: -4px;
}

.noUi-handle:after, .noUi-handle:before {
    display: none;
}

.home-rule-form {
    margin-top: 30px;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase; 
        margin-top: 0;
        margin-bottom: 18px;
    }
    &__item {
        margin-bottom: 10px;
        margin-left: 30px;
    }
    &__input {
        &[type="checkbox"] {
            display: none;
        }
        &[type="checkbox"]:hover ~ label::before {
            border-color: #BC9CFF;

        }
        &[type="checkbox"]:checked ~ label::after {
            position: absolute;
            content: '';
            width: 8px;
            height: 6px;
            top: 2px;
            left: -25px;
            transform: rotate(-45deg);
            border: 2px solid transparent;
            border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-image-slice: 1;
            border-top-style: none;
            border-right-style: none;
        }     
    }
    &__label {
        position: relative;
        margin-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: rgba(31, 32, 65, 0.5);
        cursor: pointer;
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            left: -32px;
            top: -3px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
        }
    }
}

.availability-form {
    margin-top: 32px;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase; 
        margin-top: 0;
        margin-bottom: 18px;
    }
    &__item {
        margin-bottom: 10px;
        margin-left: 30px;
    }
    &__label {
        position: relative;
        margin-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: rgba(31, 32, 65, 0.75);
        cursor: pointer;
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            left: -32px;
            top: -3px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
        }
    }
    &__input {
        &[type="checkbox"] {
            display: none;
        }
        &[type="checkbox"]:hover ~ label::before {
            border-color: #BC9CFF;

        }
        &[type="checkbox"]:checked ~ label::after {
            position: absolute;
            content: '';
            width: 8px;
            height: 6px;
            top: 2px;
            left: -25px;
            transform: rotate(-45deg);
            border: 2px solid transparent;
            border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-image-slice: 1;
            border-top-style: none;
            border-right-style: none;
        }    
    }
    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
        margin: 0;
        margin-top: 5px;
    }
}

.amenity {
    position: relative;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase; 
        margin-top: 31px;
        margin-bottom: 6px;
    }
    &-form {
        position: relative;
        &__input {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
            width: 100%;
            box-sizing: border-box;
            border: 1px solid rgba(31, 32, 65, 0.5);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            height: 44px;
            padding-left: 15px;
            padding-right: 30px;
            padding-top: 0px;
        }
        &__icon {
            position: absolute;
            top: 10px;
            left: 232px;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;  /* Preferred icon size */
            line-height: 1;
            vertical-align: middle;
            color: rgba(31, 32, 65, 0.75);
        }
    }
    &-block {
        position: absolute;
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #fff;
        z-index: 10;
        width: 100%;
        box-sizing: border-box;
    }
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        &__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase; 
            line-height: 14,63px;
            padding-left: 15px;
        }
        &-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 92px;
            padding-right: 5px;
        }
        &__button {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid rgba(31, 32, 65, 0.25);
            &-minus {
                border: 1px solid rgba(31, 32, 65, 0.1);
            }
        }
        &__result {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 12px;
        }
        &:last-child {
            padding-bottom: 10px;
        }      
    }      
}

.block-open {
    display: none;
}

.additional {
    position: relative;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase; 
        margin-top: 31px;
        margin-bottom: 6px;
        cursor: pointer;
    }
    &__icon {
        position: absolute;
        top: -5px;
        left: 232px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        line-height: 1;
        vertical-align: middle;
        color: rgba(31, 32, 65, 0.75);
        cursor: pointer;
        transition: 0.5s;
    }
    &-block {
        &-form {
            margin-top: 20px;
            &__item {
                margin-bottom: 11px;
                margin-left: 30px;                
            }
            &__input {
                &[type="checkbox"] {
                    display: none;
                }
                &[type="checkbox"]:hover ~ label::before {
                    border-color: #BC9CFF;
        
                }
                &[type="checkbox"]:checked ~ label::after {
                    position: absolute;
                    content: '';
                    width: 8px;
                    height: 6px;
                    top: 2px;
                    left: -25px;
                    transform: rotate(-45deg);
                    border: 2px solid transparent;
                    border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                    border-image-slice: 1;
                    border-top-style: none;
                    border-right-style: none;
                } 
            }
            &__label {
                position: relative;
                margin-left: 0px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: rgba(31, 32, 65, 0.5);
                cursor: pointer;
                &::before {
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 20px;
                    left: -32px;
                    top: -3px;
                    border: 1px solid rgba(31, 32, 65, 0.25);
                    border-radius: 4px;
                }
            }
        }
    }
}
.rotated__icon {
    transform: rotate(180deg);
    transition: 0.5s;
}

.search-room {
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    &-items {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 270px;
        box-shadow: 0 0 20px rgba(31, 32, 65, 0.2);
        margin-right: 12px;
        margin-bottom: 20px;
    }
    &__link {

    }
    &__img {
        width: 100%;
        margin-bottom: 19px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &-wrapper {
        margin-left: 23px;
        margin-right: 14px;
    }
    &-digits{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        padding-bottom: 10px;
        margin-bottom: 9px;
    }
    &-numbers {
        display: flex;
    }
    &__symbol {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 17.5px;
        padding-top: 2px;
    }
    &__number {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 23px;
        line-height: 17.5px;
        margin-left: 3px;
    }
    &__rank {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 14.6px;
        padding-top: 2px;
        color: rgba(188, 156, 255, 1);
        margin-left: 10px;
    }
    &-price {
        display: flex;
    }
    &__rubl {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__period {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
        margin-left: 5px;
    }
    &-bottom {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    &-stars {

    }
    &__star {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        line-height: 1;
        vertical-align: middle;
        color: rgb(188,156,255);
    }
    &-feedback {
        display: flex;
        align-items: flex-end;
        &__numbers {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.5);
        }
        &__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;  
            color: rgba(31, 32, 65, 0.5); 
            margin-left: 5px; 
            margin-right: 4px;        
        }
    }
}

.paginator {
    width: 241px;
    // margin: 0 auto;
    margin-left: 299px;
    margin-top: 23px;
    margin-bottom: 60px;
    &__item {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        color: rgba(31, 32, 65, 0.5);
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }
    &__current {
        background: linear-gradient(151deg, rgba(188,156,255,1) 0%, rgba(139,164,249,0.4962359943977591) 100%);
        color: #fff;
    }
    &__icon {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        line-height: 1;
        vertical-align: middle;
        color: #fff;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%); 
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
    }
    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        margin-top: 5px;
        text-align: center;
    }
}

.slider {
    position: relative;
    &-inner {
        width: 270px;
        overflow: hidden;
        margin-bottom: 19px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }    
    &-slides {
        width: 1084px;
        // transform: translate(-500px);
    }
    &__input {
        display: none;

    }
    &-controls {
        position: absolute;
        top: 129px;
        left: 195px;
        z-index: 10;
    }
    &__label {
        display: inline-block;
        margin-right: 4px;
        width: 8px;
        height: 8px;
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 50%;
        // box-shadow: 0 0 2px rgba(255, 255, 255, 1);
        cursor: pointer;
    }
}

#room1-btn-1:checked ~ .slider-controls label[for="room1-btn-1"],
#room1-btn-2:checked ~ .slider-controls label[for="room1-btn-2"],
#room1-btn-3:checked ~ .slider-controls label[for="room1-btn-3"],
#room1-btn-4:checked ~ .slider-controls label[for="room1-btn-4"],
#room2-btn-1:checked ~ .slider-controls label[for="room2-btn-1"],
#room2-btn-2:checked ~ .slider-controls label[for="room2-btn-2"],
#room2-btn-3:checked ~ .slider-controls label[for="room2-btn-3"],
#room2-btn-4:checked ~ .slider-controls label[for="room2-btn-4"],
#room3-btn-1:checked ~ .slider-controls label[for="room3-btn-1"],
#room3-btn-2:checked ~ .slider-controls label[for="room3-btn-2"],
#room3-btn-3:checked ~ .slider-controls label[for="room3-btn-3"],
#room3-btn-4:checked ~ .slider-controls label[for="room3-btn-4"],
#room4-btn-1:checked ~ .slider-controls label[for="room4-btn-1"],
#room4-btn-2:checked ~ .slider-controls label[for="room4-btn-2"],
#room4-btn-3:checked ~ .slider-controls label[for="room4-btn-3"],
#room4-btn-4:checked ~ .slider-controls label[for="room4-btn-4"],
#room5-btn-1:checked ~ .slider-controls label[for="room5-btn-1"],
#room5-btn-2:checked ~ .slider-controls label[for="room5-btn-2"],
#room5-btn-3:checked ~ .slider-controls label[for="room5-btn-3"],
#room5-btn-4:checked ~ .slider-controls label[for="room5-btn-4"],
#room6-btn-1:checked ~ .slider-controls label[for="room6-btn-1"],
#room6-btn-2:checked ~ .slider-controls label[for="room6-btn-2"],
#room6-btn-3:checked ~ .slider-controls label[for="room6-btn-3"],
#room6-btn-4:checked ~ .slider-controls label[for="room6-btn-4"],
#room7-btn-1:checked ~ .slider-controls label[for="room7-btn-1"],
#room7-btn-2:checked ~ .slider-controls label[for="room7-btn-2"],
#room7-btn-3:checked ~ .slider-controls label[for="room7-btn-3"],
#room7-btn-4:checked ~ .slider-controls label[for="room7-btn-4"],
#room8-btn-1:checked ~ .slider-controls label[for="room8-btn-1"],
#room8-btn-2:checked ~ .slider-controls label[for="room8-btn-2"],
#room8-btn-3:checked ~ .slider-controls label[for="room8-btn-3"],
#room8-btn-4:checked ~ .slider-controls label[for="room8-btn-4"],
#room9-btn-1:checked ~ .slider-controls label[for="room9-btn-1"],
#room9-btn-2:checked ~ .slider-controls label[for="room9-btn-2"],
#room9-btn-3:checked ~ .slider-controls label[for="room9-btn-3"],
#room9-btn-4:checked ~ .slider-controls label[for="room9-btn-4"],
#room10-btn-1:checked ~ .slider-controls label[for="room10-btn-1"],
#room10-btn-2:checked ~ .slider-controls label[for="room10-btn-2"],
#room10-btn-3:checked ~ .slider-controls label[for="room10-btn-3"],
#room10-btn-4:checked ~ .slider-controls label[for="room10-btn-4"],
#room11-btn-1:checked ~ .slider-controls label[for="room11-btn-1"],
#room11-btn-2:checked ~ .slider-controls label[for="room11-btn-2"],
#room11-btn-3:checked ~ .slider-controls label[for="room11-btn-3"],
#room11-btn-4:checked ~ .slider-controls label[for="room11-btn-4"],
#room12-btn-1:checked ~ .slider-controls label[for="room12-btn-1"],
#room12-btn-2:checked ~ .slider-controls label[for="room12-btn-2"],
#room12-btn-3:checked ~ .slider-controls label[for="room12-btn-3"],
#room12-btn-4:checked ~ .slider-controls label[for="room12-btn-4"] {
  background-color: #fff;
}

#room1-btn-1:checked ~ .slider-inner .slider-slides,
#room2-btn-1:checked ~ .slider-inner .slider-slides,
#room3-btn-1:checked ~ .slider-inner .slider-slides,
#room4-btn-1:checked ~ .slider-inner .slider-slides,
#room5-btn-1:checked ~ .slider-inner .slider-slides,
#room6-btn-1:checked ~ .slider-inner .slider-slides,
#room7-btn-1:checked ~ .slider-inner .slider-slides,
#room8-btn-1:checked ~ .slider-inner .slider-slides,
#room9-btn-1:checked ~ .slider-inner .slider-slides,
#room10-btn-1:checked ~ .slider-inner .slider-slides,
#room11-btn-1:checked ~ .slider-inner .slider-slides,
#room12-btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
    transition: 1s;
}

#room1-btn-2:checked ~ .slider-inner .slider-slides,
#room2-btn-2:checked ~ .slider-inner .slider-slides,
#room3-btn-2:checked ~ .slider-inner .slider-slides,
#room4-btn-2:checked ~ .slider-inner .slider-slides,
#room5-btn-2:checked ~ .slider-inner .slider-slides,
#room6-btn-2:checked ~ .slider-inner .slider-slides,
#room7-btn-2:checked ~ .slider-inner .slider-slides,
#room8-btn-2:checked ~ .slider-inner .slider-slides,
#room9-btn-2:checked ~ .slider-inner .slider-slides,
#room10-btn-2:checked ~ .slider-inner .slider-slides,
#room11-btn-2:checked ~ .slider-inner .slider-slides,
#room12-btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-270px);
    transition: 1s;
}

#room1-btn-3:checked ~ .slider-inner .slider-slides,
#room2-btn-3:checked ~ .slider-inner .slider-slides,
#room3-btn-3:checked ~ .slider-inner .slider-slides,
#room4-btn-3:checked ~ .slider-inner .slider-slides,
#room5-btn-3:checked ~ .slider-inner .slider-slides,
#room6-btn-3:checked ~ .slider-inner .slider-slides,
#room7-btn-3:checked ~ .slider-inner .slider-slides,
#room8-btn-3:checked ~ .slider-inner .slider-slides,
#room9-btn-3:checked ~ .slider-inner .slider-slides,
#room10-btn-3:checked ~ .slider-inner .slider-slides,
#room11-btn-3:checked ~ .slider-inner .slider-slides,
#room12-btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-540px);
    transition: 1s;
}

#room1-btn-4:checked ~ .slider-inner .slider-slides,
#room2-btn-4:checked ~ .slider-inner .slider-slides,
#room3-btn-4:checked ~ .slider-inner .slider-slides,
#room4-btn-4:checked ~ .slider-inner .slider-slides,
#room5-btn-4:checked ~ .slider-inner .slider-slides,
#room6-btn-4:checked ~ .slider-inner .slider-slides,
#room7-btn-4:checked ~ .slider-inner .slider-slides,
#room8-btn-4:checked ~ .slider-inner .slider-slides,
#room9-btn-4:checked ~ .slider-inner .slider-slides,
#room10-btn-4:checked ~ .slider-inner .slider-slides,
#room11-btn-4:checked ~ .slider-inner .slider-slides,
#room12-btn-4:checked ~ .slider-inner .slider-slides {
    transform: translate(-810px);
    transition: 1s;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////        DETAILS ROOM     ////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.roominfo {
    width: 291px;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
        color: rgba(31, 32, 65, 1);
        margin-bottom: 21px;
    }
    &-item {
        display: flex;
        width: 291px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        padding-bottom: 17px;
        margin-bottom: 22px;
        &:last-child {
            margin-bottom: 0;
        }
        &__span {
            font-family: 'Material Icons';
            font-weight: 400;
            font-style: normal;
            font-size: 48px;
            line-height: 41px;
            vertical-align: middle;
            color: rgb(188,156,255);
            padding-top: 4px;
        }
        &-text {
            margin-left: 10px;
            &__title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                color: rgba(31, 32, 65, 0.75);
            }
            &__desc {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: rgba(31, 32, 65, 0.75);
            }            
        }
    }
}

.reviews {
    width: 712px;
    &-top {
        display: flex;
        justify-content: space-between;
        &__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 19px;
            line-height: 23px;
            color: rgba(31, 32, 65, 1);
        }
        &__number {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: rgba(31, 32, 65, 0.5);
            margin-top: 7px;
        }
    }
    &-item {
        display: flex;
        margin-top: 22px;
        &-left {
            &__img {
                border-radius: 50%;
                border: 1px solid #fff;
                box-shadow: 0 0 20px rgba(31, 32, 65, 0.2);
            }
            &__favor {
                position: relative;
                width: 37px;
                height: 19px;
                border: 1px solid transparent;
                border-radius: 10px;
                background-image: linear-gradient(white, white),
                                  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                background-origin: border-box;
                background-clip: content-box, border-box;
                margin-top: 5px;
                margin-left: 5px;
            }
            &__icon {
                position: absolute;
                top: 5px;
                left: 4px;
                font-family: 'Material Icons';
                font-weight: 400;
                font-style: normal;
                font-size: 10px;
                line-height: 9px;
                vertical-align: middle;
                color: rgb(188,156,255);                
            }
            &__favortext {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                box-sizing: border-box;                
                padding-left: 19px;
                padding-top: 3px;
                color: rgba(188, 156, 255, 1);
            }
        }
        &-right {
            margin-left: 8px;
            &__title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                color: rgba(31, 32, 65, 0.75);               
            }
            &__days {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: rgba(31, 32, 65, 0.75);                  
            }
            &__text {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: rgba(31, 32, 65, 0.75);
                margin-top: 10px;                   
            }
        }
    }
}
.rules {
    width: 292px;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
        color: rgb(67, 68, 114);
        margin-bottom: 19px;
        margin-left: 26px;
    }
    &-item {
        position: relative;
        margin-left: 25px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        &::before {
            position: absolute;
            content: '';
            top: 5px;
            left: -20px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: rgba(31, 32, 65, 0.25);
        }
        
    }
}

.canceling {
    width: 341px;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
        color: rgba(31, 32, 65, 1);
        margin-bottom: 20px;
    }
    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
}

.chart {
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
        color: rgba(31, 32, 65, 1);
        margin-bottom: 5px;
    }
    &-wrapper {
        display: flex;        
    }
    &-donut {
        width: 155px;
        height: 155px;
        margin-left: -17px;
        &-hole {

        }
        &-ring {                /* кольцо - незаполненная область */
            stroke-width: 1;    
        }
        &-segment__1 {
            stroke-dashoffset: 25;
            stroke-width: 1;      
        }
        &-segment__2 {
            stroke-dashoffset: 99.8;
            stroke-width: 1;      
        }
        &-segment__3 {
            stroke-dashoffset: 74.6;
            stroke-width: 1;     
        }
        &-text {
            &__number {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 6px;
                line-height: 15px;
                fill: rgba(188, 156, 255, 1);
                text-anchor: middle;
                transform: translateY(-1px);
            }
            &__label {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 4px;
                line-height: 15px;
                fill: rgba(188, 156, 255, 1);
                text-anchor: middle;
                transform: translateY(4px);
            }
        }       
    }
    &-legend {
        margin-top: 44px;
        margin-left: 11px;
        &-list {
            &-item {
                display: flex;
                align-items: center;
                &__marker {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    &--fine {
                        background: linear-gradient(151deg, rgba(255,227,156,1) 0%, rgba(255,186,156,1) 100%);
                    }
                    &--good {
                        background: linear-gradient(151deg, rgba(111,207,151,1) 0%, rgba(102,210,234,1) 100%);
                    } 
                    &--notbad {
                        background: linear-gradient(151deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
                    } 
                    &--disappointed {
                        background: linear-gradient(151deg, rgba(144,144,144,1) 0%, rgba(61,73,117,1) 100%);
                    }                                                          
                }
                &__text {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: rgba(31, 32, 65, 0.75);
                    margin-left: 6px;
                }
            }
        }
    }   
}

.summary {
    width: 380px;
    box-shadow: 0 0 20px rgba(31, 32, 65, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.12); 
    &-room {
        margin-left: 30px;
        margin-right: 30px; 
        &-digits {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }
        &-numbers {
            display: flex;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            align-items: flex-end;
        }
        &__symbol {
            font-size: 14px;
            line-height: 17px;
            padding-bottom: 3px;
            margin-right: 2px;
        }
        &__number {
            font-size: 24px;
            line-height: 29px;
            margin-right: 10px;
        }    
        &__rank {
            padding-bottom: 3px;
            color: rgba(188, 156, 255, 1);
            text-transform: uppercase;
            font-size: 12px;
        }    
        &-price {
            display: flex;
            font-family: 'Montserrat', sans-serif;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.5);
            padding-top: 8px;
        }
        &__rubl {
            font-weight: 700;
            font-size: 14px;
            margin-right: 3px;
        }
        &__period {
            font-weight: 400;
            font-size: 12px;
            margin-right: 2px;
            margin-top: 2px;
        }
    }
    &-dates-form {
        display: flex;
        justify-content: space-between;
        &__item {
            position: relative;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: rgba(31, 32, 65, 1);
        }
        &__title {
            margin-top: 20px;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
        &__input {
            width: 150px;
            height: 45px;
            box-sizing: border-box;
            padding-left: 13px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            border-radius: 4px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            color: rgba(31, 32, 65, 0.75);
        }
        &__icon {
            position: absolute;
            top: 50px;
            left: 117px;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            vertical-align: middle;
            color: rgba(31, 32, 65, 0.5);
        }
    }
    &-guests-form {
        margin-top: 22px;
        position: relative;
        margin-bottom: 18px;
        &__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: rgba(31, 32, 65, 1);
            margin-bottom: 5px;
        }
        &__input {
            width: 100%;
            height: 44px;
            padding-left: 15px;
            box-sizing: border-box;
            color: rgba(31, 32, 65, 0.75);
            font-family: 'Montserrat',sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
        }
        &__icon {
            position: absolute;
            top: 29px;
            left: 286px;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            vertical-align: middle;
            color: rgba(31, 32, 65, 0.5);
        }
    }
    &-totalprice {
        display: flex;
        justify-content: space-between;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        margin-bottom: 10px;
    }
    &-services {
        display: flex;
        justify-content: space-between;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        margin-bottom: 11px;
        &-left {
            display: flex;
            position: relative;
            width: 214px;
            &__text-1 {
                line-height: 18px;
            }
            &__icon {
                position: absolute;
                font-size: 23px;
                top: -3px;
                left: 219px;
                color: 
                rgba(31, 32, 65, 0.25);
            }
        }
    }
    &-total {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
        color: rgba(31, 32, 65, 1);
        margin-top: 32px;
        margin-bottom: 20px;
        &__text {

        }
        &__box {
            width: 183px;
            border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
        }
    }
    &-pickup {
        position: relative;
        margin-top: 22px;
        margin-bottom: 30px;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////СЕТКА GRID ДЛЯ СТРАНИЦЫ DETAILS////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////

.details-wrapper {
    display: grid;
    grid-template-columns: auto auto 380px;
    grid-template-rows: 273px 306px 220px;
    grid-row-gap: 30px;
    max-width: 1160px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
}
.roominfo {
    grid-column-start: 1;
    grid-column-end: 2;
}
.reviews {
    grid-column-start: 1;
    grid-column-end: 3;
    // margin-top: 16px;
}
.chart {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: -5px;
}
.rules {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: -7px;
}
.canceling {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: -5px;
}

.summary {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
