@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.container {
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}
.right {
    display: flex;
    &-menu {
        display: flex;
        &__item {
            vertical-align: middle;
            margin-right: 20px;
            align-self: center;
        }
        &__link {
            text-decoration: none;
            color: #1F204180;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-style: normal;
            line-height: 17.07px;
            letter-spacing: 1px;
            font-size: 14px;
        }
        &__icon {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;  /* Preferred icon size */
            line-height: 1;
            vertical-align: middle;
        }
    }
    &__btn {
        height: 34px;
        border-radius: 22px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 14.63px;
        padding: 9px 20px 10px 19px;
        margin-right: 20px;
        margin-top: 18px;
        margin-bottom: 18px;
        text-transform: uppercase;
        border: none;
        &:last-child {
            margin-right: 0;
        }
        &-in {
            width: 87px;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
            color: #BC9CFF;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                background-image: url(images/border_in.png);
                width: 87px;
                height: 34px;
                top: -1px;
                left: -1px;
            }
        }
        &-reg {
            width: 196px;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            color: #FFFFFF;
            border: none;
        }
    }
}

.index-main {
    margin-bottom: 100px;
    position: relative;
    &__img {
    height: 900px;
    width: 100%;
    }
    &__title {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        color: rgba(31, 32, 65, 0.75);
        top: 834px;
        left: 1030px;
        width: 297px;
        text-align: end;
        line-height: 22px;
    }
}


.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 100px;
    &-item {
        font-family: 'Montserrat', sans-serif;
    }
    &-text {
        width: 250px;
        color: #1F2041;
        font-size: 14px;
        opacity: 0.75;
        line-height: 24px;
        margin-top: 12px;
        letter-spacing: 1px;
    }
    &-list {
        list-style: none;
        padding: 0;
        margin: 0;
        &__title {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
            margin-top: 5px;
        }
        &__item {
            margin-top: 20px;
            line-height: 17px;
            font-size: 14px;
            letter-spacing: 1px;
        }
        &__link {
            text-decoration: none;
            color: #1F2041;
            opacity: 0.5;
        }
    }

    &-form {
        position: relative;
        &__input {
            height: 44px;
            width: 260px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
            margin-top: 20px;
            padding-top: 12px;
            padding-bottom: 8px;
            padding-left: 15px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 14px;
        }
        &__icon {
            position: absolute;
            top: 30px;
            right: 8px;
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;
            color: rgb(188,156,255);
            
        } 
    }
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-block {
        padding-left: 125px;
        padding-right: 125px;
        margin-top: 26px;        
    }
    &-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17,07px;
        color: rgba(31, 32, 65, 0.75);
        letter-spacing: 1px;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        &__item {
            margin-left: 20px;
            
        }
    }
}

.wishes {
    position: absolute;
    width: 380px;
    height: 374;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 21px;
    }
}

.calendar-forms {
    position: relative;
}

.dates-form {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    &__item {
        position: relative;
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase; 
        margin-top: 0;
        margin-bottom: 5px;
    }
    &__input {
        width: 150px;
        height: 44px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
        padding-top: 11px;
        padding-bottom: 13px;
        padding-left: 15px;
        box-sizing: border-box;
        text-transform: uppercase;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
    }
    &__icon {
        position: absolute;
        top: 30px;
        left: 117px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        vertical-align: middle;
        color: rgba(31, 32, 65, 0.5);
    }

}
.guests {
    position: relative;
    .guest-form {
        margin-left: 30px;
        margin-right: 30px;
        &__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 22px;
            margin-bottom: 5px;
        }
        &__input {
            width: 100%;
            height: 44px;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.75);
            padding-top: 11px;
            padding-bottom: 13px;
            padding-left: 15px;
            box-sizing: border-box;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
        }
        &__icon {
            position: absolute;
            top: 30px;
            right: 38px;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            vertical-align: middle;
            color: rgba(31, 32, 65, 0.5);
        }
    }
}


.pickup {           
    &-wrapper {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
        position: relative;
    }
    &__button {
        width: 100%;
        height: 34px;
        border-radius: 22px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 14.63px;
        padding-top: 14px;
        padding-bottom: 27px;
        text-transform: uppercase;
        border: none;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        color: #FFFFFF;
        border: none;
    }
    &__icon {
        position: absolute;
        top: 10px;
        right: 8px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        vertical-align: middle;
        color: #ffffff;
    }
}
 
.datepicker {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #4a4a4a;
    width: 250px;
    width: 320px;
    height: 369px; 
    &--body {
        padding-left: 15px;
        padding-right: 15px;
    }
    &--days-names {
        margin-bottom: 18px;
    }
    &--day-name {
        color: #BC9CFF;
        font-weight: 700;
        text-transform: none;
    }
    &--cell {
        height: 39px;

    }
    &--cell-day {
        width: 14.28571%;
        color: rgba(31, 32, 65, 0.5);    
    }
    &--nav-title {
        font-size: 19px;
        font-weight: 700;
        line-height: 23.16px;
        color: #1F2041;
        padding-top: 18px;
        padding-bottom: 26px;
    }
    &--cell.-selected-{
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 50%;
    }
    &--cell.-focus-{
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border-radius: 50%;
    }
    &--cell.-in-range-{
        background: rgba(188,156,255, 0.25);
    }
    &-wrapper {
        position: absolute;
        z-index: 100;
        left: 28px;
        top: 68px;
    }
    &-form {
        position: relative;
        width: 200px;
        height: 200px;

    }
    &__clear {
        position: absolute;
        top: 333px;
        left: 20px;
        text-transform: lowercase;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: rgba(188, 156, 255, 1);
        cursor: pointer;
    }
    &__ok {
        position: absolute;
        top: 333px;
        left: 215px;
        text-transform: lowercase;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: rgba(188, 156, 255, 1);
        cursor: pointer;
    }
    &--nav-action {
        margin-left: 10px;
        margin-top: -12px;
        margin-right: 10px;
    }
    &--nav-action path {
        stroke-width: 0;
        fill: #BC9CFF;
    }
    &--nav-action svg {
        width: 17px;
        height: 18px;
    }
}

.button-decrement {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.button-decrement {
    width: 25px;
    height: 25px;
    // border-radius: 0%;
}


// .counter {

// }

.iqdrop-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    border: 1px solid gray;
    padding-left: 15px;
}


