@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.container {
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}
.right {
    display: flex;
    &-menu {
        display: flex;
        &__item {
            vertical-align: middle;
            margin-right: 20px;
            align-self: center;
        }
        &__link {
            text-decoration: none;
            color: #1F204180;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-style: normal;
            line-height: 17.07px;
            letter-spacing: 1px;
            font-size: 14px;
        }
        &__icon {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;  /* Preferred icon size */
            line-height: 1;
            vertical-align: middle;
        }
    }
    &__btn {
        height: 34px;
        border-radius: 22px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 14.63px;
        padding: 9px 20px 10px 19px;
        margin-right: 20px;
        margin-top: 18px;
        margin-bottom: 18px;
        text-transform: uppercase;
        border: none;
        &:last-child {
            margin-right: 0;
        }
        &-in {
            width: 87px;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
            color: #BC9CFF;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                background-image: url(images/border_in.png);
                width: 87px;
                height: 34px;
                top: -1px;
                left: -1px;
            }
        }
        &-reg {
            width: 196px;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            color: #FFFFFF;
            border: none;
        }
    }
}

.index-main {
    margin-bottom: 100px;
    position: relative;
    &__img {
    height: 900px;
    width: 100%;
    }
    &__title {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        color: rgba(31, 32, 65, 0.75);
        top: 834px;
        left: 1030px;
        width: 297px;
        text-align: end;
        line-height: 22px;
    }
}


.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 100px;
    &-item {
        font-family: 'Montserrat', sans-serif;
    }
    &-text {
        width: 250px;
        color: #1F2041;
        font-size: 14px;
        opacity: 0.75;
        line-height: 24px;
        margin-top: 12px;
        letter-spacing: 1px;
    }
    &-list {
        list-style: none;
        padding: 0;
        margin: 0;
        &__title {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
            margin-top: 5px;
        }
        &__item {
            margin-top: 20px;
            line-height: 17px;
            font-size: 14px;
            letter-spacing: 1px;
        }
        &__link {
            text-decoration: none;
            color: #1F2041;
            opacity: 0.5;
        }
    }

    &-form {
        position: relative;
        &__input {
            height: 44px;
            width: 260px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
            margin-top: 20px;
            padding-top: 12px;
            padding-bottom: 8px;
            padding-left: 15px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 14px;
        }
        &__icon {
            position: absolute;
            top: 30px;
            right: 8px;
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;
            color: rgb(188,156,255);
            
        } 
    }
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-block {
        padding-left: 125px;
        padding-right: 125px;
        margin-top: 26px;        
    }
    &-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17,07px;
        color: rgba(31, 32, 65, 0.75);
        letter-spacing: 1px;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        &__item {
            margin-left: 20px;
            
        }
    }
}

