/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////  НАВИГАЦИЯ ПО СЛАЙДЕРУ ФОТОГРАФИЙ НОМЕРА 1    ///////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

#room1-btn-1:checked ~ .slider-prev-controls label[for="room1-btn-1"],
#room1-btn-1:checked ~ .slider-prev-controls label[for="room1-btn-2"],
#room1-btn-1:checked ~ .slider-prev-controls label[for="room1-btn-3"],
#room1-btn-1:checked ~ .slider-prev-controls label[for="room1-btn-4"],
#room1-btn-1:checked ~ .slider-next-controls label[for="room1-btn-1"],
#room1-btn-1:checked ~ .slider-next-controls label[for="room1-btn-3"],
#room1-btn-1:checked ~ .slider-next-controls label[for="room1-btn-4"]
{
  display: none;
}

#room1-btn-2:checked ~ .slider-prev-controls label[for="room1-btn-2"],
#room1-btn-2:checked ~ .slider-prev-controls label[for="room1-btn-3"],
#room1-btn-2:checked ~ .slider-prev-controls label[for="room1-btn-4"],
#room1-btn-2:checked ~ .slider-next-controls label[for="room1-btn-1"],
#room1-btn-2:checked ~ .slider-next-controls label[for="room1-btn-2"],
#room1-btn-2:checked ~ .slider-next-controls label[for="room1-btn-4"]
{
  display: none;
}

#room1-btn-3:checked ~ .slider-prev-controls label[for="room1-btn-1"],
#room1-btn-3:checked ~ .slider-prev-controls label[for="room1-btn-3"],
#room1-btn-3:checked ~ .slider-prev-controls label[for="room1-btn-4"],
#room1-btn-3:checked ~ .slider-next-controls label[for="room1-btn-1"],
#room1-btn-3:checked ~ .slider-next-controls label[for="room1-btn-2"],
#room1-btn-3:checked ~ .slider-next-controls label[for="room1-btn-3"]
{
  display: none;
}

#room1-btn-4:checked ~ .slider-prev-controls label[for="room1-btn-1"],
#room1-btn-4:checked ~ .slider-prev-controls label[for="room1-btn-2"],
#room1-btn-4:checked ~ .slider-prev-controls label[for="room1-btn-4"],
#room1-btn-4:checked ~ .slider-next-controls label[for="room1-btn-1"],
#room1-btn-4:checked ~ .slider-next-controls label[for="room1-btn-2"],
#room1-btn-4:checked ~ .slider-next-controls label[for="room1-btn-3"],
#room1-btn-4:checked ~ .slider-next-controls label[for="room1-btn-4"]
{
  display: none;
}

/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////// ПЕРЕХОД МЕЖДУ ФОТОГРАФИЯМИ ПО КРУЖОЧКАМ В ПРАВОМ НИЖНЕМ УГЛУ ///////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

#room1-btn-1:checked ~ .slider-controls label[for="room1-btn-1"],
#room1-btn-2:checked ~ .slider-controls label[for="room1-btn-2"],
#room1-btn-3:checked ~ .slider-controls label[for="room1-btn-3"],
#room1-btn-4:checked ~ .slider-controls label[for="room1-btn-4"] {
  background-color: #fff;
}

#room1-btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
    transition: 1s;
}

#room1-btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-270px);
    transition: 1s;
}

#room1-btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-540px);
    transition: 1s;
}

#room1-btn-4:checked ~ .slider-inner .slider-slides {
    transform: translate(-810px);
    transition: 1s;
}