.photo-wrapper {
    max-width: 1920px;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-bottom: 70px;  
    height: 485px;  
    display: grid;
    grid-template-columns: 981px 459px;
    grid-template-rows: 244px 242px;
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////СЕТКА GRID ДЛЯ СТРАНИЦЫ DETAILS////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////

.details-wrapper {
    display: grid;
    grid-template-columns: 360px auto 380px;
    grid-template-rows: 273px 306px 220px;
    grid-row-gap: 30px;
    max-width: 1160px;
    padding-left: 21px;
    padding-right: 15px;
    margin: 0 auto; 
}
.photo {
    &__img-1 {
        width: 981px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        background-image: url('../modules/details/detail_photo_1.png');
    }
    &__img-2 {
        width: 459px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-image: url('../modules/details/detail_photo_2.png');
    }  
    &__img-3 {
        width: 459px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: -1px;
        background-image: url('../modules/details/detail_photo_3.png');
    }        
}
.roominfo {
    grid-column-start: 1;
    grid-column-end: 2;
}
.reviews {
    grid-column-start: 1;
    grid-column-end: 3;
}
.chart {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.rules {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: -7px;
}
.canceling {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.summary {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
