include ../../pug/libs/_libs

.photo-wrapper 
    .photo__img-1
    .photo__img-2
    .photo__img-3
.details-wrapper
    include roominfo/roominfo
    include reviews/reviews
    include rules/rules
    include canceling/canceling
    include chart/chart
    include summary/summary                                             
hr.footer-line


