doctype html
html(lang="en")
  head
    title Заглушка
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    include ../modules/header/header
    include ../modules/empty/empty_content
    include ../modules/footer/footer