section.search-sidebar
    form(action="").stay-guest-form
        .stay-guest-form__item
            p.stay-guest-form__title Даты пребывания в отеле 
            input(type="text" placeholder='19 авг - 23 авг').stay-guest-form__input
            span.stay-guest-form__icon expand_more
        .stay-guest-form__item
            p.stay-guest-form__title.stay-guest-form__title-second Гости 
            input(type="text" placeholder='Количество гостей' adult=0 child=0 baby=0 guests=0).stay-guest-form__input.guest__input.js-guest__input
            span.stay-guest-form__icon expand_more 
        .guests-block.js-guests-block.block-open           
            .guests-item 
                .guests-item__title Взрослые
                .guests-item-buttons
                    button.guests-item__button.guests-item__button-minus.minus-adult.js-minus-adult -
                    .guests-item__result.adult-result.js-adult-result 0              
                    button.guests-item__button.plus-adult.js-plus-adult +
            .guests-item 
                .guests-item__title Дети
                .guests-item-buttons
                    button.guests-item__button.guests-item__button-minus.minus-child.js-minus-child -
                    .guests-item__result.child-result.js-child-result 0              
                    button.guests-item__button.plus-child.js-plus-child +
            .guests-item 
                .guests-item__title Младенцы
                .guests-item-buttons
                    button.guests-item__button.guests-item__button-minus.minus-baby.js-minus-baby -
                    .guests-item__result.baby-result.js-baby-result 0              
                    button.guests-item__button.plus-baby.js-plus-baby +  
            .guests-item 
                .guests-confirmation__clear.js-guests-confirmation__clear.opaque Очистить
                .guests-confirmation__assume.js-guests-confirmation__assume Применить
    .sliderp 
        .sliderp-title-wrapper 
            .sliderp-title Диапазон цены
            .sliderp-label-wrapper
                label.sliderp__label 
                    input(type="number" placeholder='5000').sliderp__input#input-0
                    span.sliderp__span ₽ -
                label.sliderp__label 
                    input(type="number" placeholder='10000').sliderp__input#input-1  
                    span.sliderp__span ₽    
        #nouislider
        .sliderp-bottom-title Стоимость за сутки пребывания в номере
    form(action="").home-rule-form
        .home-rule-form__title Правила дома
        .home-rule-form__item 
            input(type="checkbox" id="smoke").home-rule-form__input
            label(for="smoke").home-rule-form__label Можно курить 
        .home-rule-form__item 
            input(type="checkbox" id="pets").home-rule-form__input
            label(for="pets").home-rule-form__label Можно с питомцами
        .home-rule-form__item 
            input(type="checkbox" id="guests").home-rule-form__input
            label(for="guests").home-rule-form__label Можно пригласить гостей (до 10 человек) 
    form(action="").availability-form
        .availability-form__title Доступность
        .availability-form__item
            input(type="checkbox" id="corridor").availability-form__input
            label(for="corridor").availability-form__label Широкий коридор
                p.availability-form__text Ширина коридоров в номере не менее 91 см.             
        .availability-form__item 
            input(type="checkbox" id="assistant").availability-form__input
            label(for="assistant").availability-form__label Помощник для инвалидов
                p.availability-form__text На 1 этаже вас встретит специалист и проводит до номера.                    
    .amenity
        .amenity__title Удобства номера
        form(action="").amenity-form
            input(type="text" placeholder="Укажите количество удобств" sleep=0 bed=0 bath=0 ).amenity-form__input.js-amenity-form__input
            span.amenity-form__icon expand_more
        .amenity-block.js-amenity-block.block-open
            .amenity-item 
                .amenity-item__title Спальни
                .amenity-item-buttons
                    button.amenity-item__button.amenity-item__button-minus.minus-sleep.js-minus-sleep -
                    .amenity-item__result.sleep-result.js-sleep-result 0              
                    button.amenity-item__button.plus-sleep.js-plus-sleep +
            .amenity-item 
                .amenity-item__title Кровати
                .amenity-item-buttons
                    button.amenity-item__button.amenity-item__button-minus.minus-bed.js-minus-bed -
                    .amenity-item__result.bed-result.js-bed-result 0              
                    button.amenity-item__button.plus-bed.js-plus-bed +
            .amenity-item 
                .amenity-item__title Ванные комнаты
                .amenity-item-buttons
                    button.amenity-item__button.amenity-item__button-minus.minus-bath.js-minus-bath -
                    .amenity-item__result.bath-result.js-bath-result 0              
                    button.amenity-item__button.plus-bath.js-plus-bath +                                                
    .additional 
        .additional__title.js-additional__title Дополнительные удобства
        .additional__icon.js-additional__icon expand_more
        .additional-block.js-additional-block.block-open
            form(action="").additional-block-form
                .additional-block-form__item 
                    input(type="checkbox" id="breakfast").additional-block-form__input
                    label(for="breakfast").additional-block-form__label Завтрак
                .additional-block-form__item 
                    input(type="checkbox" id="desk").additional-block-form__input
                    label(for="desk").additional-block-form__label Письменный стол
                .additional-block-form__item 
                    input(type="checkbox" id="chair").additional-block-form__input
                    label(for="chair").additional-block-form__label Стул для кормления
                .additional-block-form__item 
                    input(type="checkbox" id="little-bed").additional-block-form__input
                    label(for="little-bed").additional-block-form__label Кроватка
                .additional-block-form__item 
                    input(type="checkbox" id="TV-1").additional-block-form__input
                    label(for="TV-1").additional-block-form__label Телевизор
                .additional-block-form__item 
                    input(type="checkbox" id="shampoo-1").additional-block-form__input
                    label(for="shampoo-1").additional-block-form__label Шампунь
                .additional-block-form__item 
                    input(type="checkbox" id="TV-2").additional-block-form__input
                    label(for="TV-2").additional-block-form__label Телевизор
                .additional-block-form__item 
                    input(type="checkbox" id="shampoo-2").additional-block-form__input
                    label(for="shampoo-2").additional-block-form__label Шампунь                                                                                                                                                                        
