.search {
    &-sidebar {
        max-width: 466px;
        padding-right: 60px;
        padding-left: 140px;
        box-sizing: border-box;
    }
}

.stay-guest-form {
    position: relative;
    &__item {
        position: relative;
        width: 100%;
        &:last-child {
            margin-top: 22px;
        }
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase; 
        margin-top: 33px;
        margin-bottom: 5px;
        margin-left: -2px;
        &-index {
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          font-size: 13px;
          text-transform: uppercase; 
          margin-top: 21px;
          margin-bottom: 5px;
          margin-left: -2px;          
        }
        &-second {
          margin-top: 20px;
        }
    }
    &__input {
        width: 100%;
        height: 44px;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
        padding-top: 12px;
        padding-bottom: 13px;
        padding-left: 13px;
        box-sizing: border-box;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        letter-spacing: 0;
    }
    &__icon {
        position: absolute;
        top: 30px;
        left: 234px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        vertical-align: middle;
        color: rgba(31, 32, 65, 0.5);
        &-index {
          left: 284px;
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.guests {
    position: relative;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase; 
        margin-top: 31px;
        margin-bottom: 6px;
    }
    &-form {
        position: relative;
        &__input {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
            width: 100%;
            box-sizing: border-box;
            border: 1px solid rgba(31, 32, 65, 0.5);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            height: 44px;
            padding-left: 15px;
            padding-right: 30px;
            padding-top: 0px;
        }
        &__icon {
            position: absolute;
            top: 10px;
            left: 232px;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;  /* Preferred icon size */
            line-height: 1;
            vertical-align: middle;
            color: rgba(31, 32, 65, 0.75);
        }
    }
    &-block {
        position: absolute;
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #fff;
        z-index: 10;
        width: 100%;
        box-sizing: border-box;
    }
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        &__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase; 
            line-height: 14,63px;
            padding-left: 15px;
        }
        &-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 92px;
            padding-right: 5px;
        }
        &__button {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid rgba(31, 32, 65, 0.25);
            &-minus {
                border: 1px solid rgba(31, 32, 65, 0.1);
            }
        }
        &__result {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 12px;
        }
        &:last-child {
            padding-bottom: 10px;
        }      
    }
    &-confirmation {
      &__clear {
        padding-left: 15px;
        margin-top: 20px;
        color: rgba(188, 156, 255, 1);
  
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase; 
        line-height: 14,63px;
        padding-left: 15px;
        cursor: pointer;
      }
      &__assume {
        padding-right: 5px;
        margin-top: 20px;
        color: rgba(188, 156, 255, 1);
  
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase; 
        line-height: 14,63px;
        padding-left: 15px;
        cursor: pointer;
      }
    }
}

.sliderp {
    &-title-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 17px;
        margin-top: 30px;
    }
    &-label-wrapper {
      display: flex;
      align-items: flex-start;
    }
    &-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase; 
        margin-top: 0;
        margin-bottom: 5px;
    }
    &__label {
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }
    &__input {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
        border: none;
        width: 45px;
        text-align: right;
        padding: 0;
    }
    &__span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
        margin-left: 5px;
    }
    &-bottom-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
    }
}

#nouislider {
    margin-bottom: 15px;
}

.noUi-target {
    background: #fff;
    border-radius: 3px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    height: 6px;
}

.noUi-connect {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: none;
}

.noUi-handle {
    cursor: default;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.noUi-horizontal .noUi-handle {
    width: 17px;
    height: 17px;
    right: -4px;
    top: -7px;
}

.noUi-handle:after, .noUi-handle:before {
    display: none;
}

.home-rule-form {
    margin-top: 29px;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase; 
        margin-top: 0;
        margin-bottom: 17px;
    }
    &__item {
        margin-bottom: 12px;
        margin-left: 30px;
        width: 202px;
    }
    &__input {
        &[type="checkbox"] {
            display: none;
        }
        &[type="checkbox"]:hover ~ label::before {
            border-color: #BC9CFF;

        }
        &[type="checkbox"]:checked ~ label::after {
            position: absolute;
            content: '';
            width: 8px;
            height: 6px;
            top: 2px;
            left: -25px;
            transform: rotate(-45deg);
            border: 2px solid transparent;
            border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-image-slice: 1;
            border-top-style: none;
            border-right-style: none;
        }     
    }
    &__label {
        position: relative;
        margin-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: rgba(31, 32, 65, 0.5);
        cursor: pointer;
        letter-spacing: 1px;
        &::before {
            position: absolute;
            content: '';
            width: 18px;
            height: 18px;
            left: -30px;
            top: -3px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
        }
    }
}

.availability-form {
    margin-top: 28px;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase; 
        margin-top: 0;
        margin-bottom: 18px;
    }
    &__item {
        margin-bottom: 10px;
        margin-left: 30px;
    }
    &__label {
        position: relative;
        margin-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: rgba(31, 32, 65, 0.75);
        cursor: pointer;
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            left: -32px;
            top: -3px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
        }
    }
    &__input {
        &[type="checkbox"] {
            display: none;
        }
        &[type="checkbox"]:hover ~ label::before {
            border-color: #BC9CFF;

        }
        &[type="checkbox"]:checked ~ label::after {
            position: absolute;
            content: '';
            width: 8px;
            height: 6px;
            top: 2px;
            left: -25px;
            transform: rotate(-45deg);
            border: 2px solid transparent;
            border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-image-slice: 1;
            border-top-style: none;
            border-right-style: none;
        }    
    }
    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
        margin: 0;
        margin-top: 5px;
    }
}

.amenity {
    position: relative;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase; 
        margin-top: 29px;
        margin-bottom: 3px;
    }
    &-form {
        position: relative;
        &__input {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
            width: 100%;
            box-sizing: border-box;
            border: 1px solid rgba(31, 32, 65, 0.5);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            height: 44px;
            padding-left: 17px;
            padding-right: 30px;
            padding-top: 5px;
        }
        &__icon {
            position: absolute;
            top: 10px;
            left: 232px;
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;  /* Preferred icon size */
            line-height: 1;
            vertical-align: middle;
            color: rgba(31, 32, 65, 0.75);
        }
    }
    &-block {
        position: absolute;
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #fff;
        z-index: 10;
        width: 100%;
        box-sizing: border-box;
    }
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        &__title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase; 
            line-height: 14,63px;
            padding-left: 15px;
        }
        &-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 92px;
            padding-right: 5px;
        }
        &__button {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid rgba(31, 32, 65, 0.25);
            &-minus {
                border: 1px solid rgba(31, 32, 65, 0.1);
            }
        }
        &__result {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 12px;
        }
        &:last-child {
            padding-bottom: 10px;
        }      
    }      
}

.block-open {
    display: none;
}

.additional {
    position: relative;
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase; 
        margin-top: 32px;
        margin-bottom: 6px;
        cursor: pointer;
    }
    &__icon {
        position: absolute;
        top: -5px;
        left: 232px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        line-height: 1;
        vertical-align: middle;
        color: rgba(31, 32, 65, 0.75);
        cursor: pointer;
        transition: 0.5s;
    }
    &-block {
        &-form {
            margin-top: 20px;
            &__item {
                margin-bottom: 11px;
                margin-left: 30px;                
            }
            &__input {
                &[type="checkbox"] {
                    display: none;
                }
                &[type="checkbox"]:hover ~ label::before {
                    border-color: #BC9CFF;
        
                }
                &[type="checkbox"]:checked ~ label::after {
                    position: absolute;
                    content: '';
                    width: 8px;
                    height: 6px;
                    top: 2px;
                    left: -25px;
                    transform: rotate(-45deg);
                    border: 2px solid transparent;
                    border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                    border-image-slice: 1;
                    border-top-style: none;
                    border-right-style: none;
                } 
            }
            &__label {
                position: relative;
                margin-left: 0px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: rgba(31, 32, 65, 0.5);
                cursor: pointer;
                &::before {
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 20px;
                    left: -32px;
                    top: -3px;
                    border: 1px solid rgba(31, 32, 65, 0.25);
                    border-radius: 4px;
                }
            }
        }
    }
}

.js-rotated__icon {
    transform: rotate(180deg);
    transition: 0.5s;
}