include ../../pug/libs/_libs

.substrate.js-substrate
header.container
  .header   
    include logo/logo
    include right/right
    .header-burger.js-header-burger 
      span.header-burger__span                                                                                              
