doctype html
html(lang="en")
  head
    title Подробности
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style 
      include styles/normalize.css
      include styles/datepicker.css
      include styles/style.css

  body
    include modules/header
    include modules/details_content.html
    include modules/footer.html
    //- script(src='../src/libs/chart.min.js')
    //- script(src='../src/js/elements.js')
    script(src='../src/js/details.js')
