doctype html
html(lang="en")
  head
    title Hotel
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    style 
      include styles/normalize.css
      include styles/style.css

  body
    include modules/header
    h1 Content
    include modules/footer
