doctype html
html(lang="en")
  head
    title Hotel
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    //- link(rel="icon" href="../src/favicon.png" type="image/x-icon")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    include modules/header
    include modules/index_content
    include modules/footer


