doctype html
html(lang="en")
  head
    title Hotel
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    style 
      include styles/normalize.css
      include styles/style.css

  body
    include modules/header
    section.container.index-main
      img(src="images/index_image.png", alt="").index-main__img
      .index-main__title Лучшие номера для вашей работы, отдыха и просто вдохновения

    include modules/footer
