doctype html
html(lang="en")
  head
    title Вход в аккаунт
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap")
    style 
      include styles/normalize.css
      include styles/style.css

  body
    include modules/header
    include modules/login_content.html
    include modules/footer.html