doctype html
html(lang="en")
  head
    title UI kit
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")    
  body
    include modules/uikit_header
    include modules/uikit_colors_types_content

