doctype html
html(lang="en")
  head
    title UI kit
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")    
    style 

      include styles/style.css

  body
    section.uikit-colours-items
      article.uikit-colours-items-item 
        .uikit-colours-items-item__rect.uikit-colours-items-item__rect-1 
        .uikit-colours-items-item-text
          .uikit-colours-items-item-text__title Dark Shade 100%
          .uikit-colours-items-item-text__code #1F2041
      article.uikit-colours-items-item 
        .uikit-colours-items-item__rect.uikit-colours-items-item__rect-2 
        .uikit-colours-items-item-text
          .uikit-colours-items-item-text__title Dark Shade 75%
          .uikit-colours-items-item-text__code #1F2041
      article.uikit-colours-items-item 
        .uikit-colours-items-item__rect.uikit-colours-items-item__rect-3 
        .uikit-colours-items-item-text
          .uikit-colours-items-item-text__title Dark Shade 50%
          .uikit-colours-items-item-text__code #1F2041
      article.uikit-colours-items-item 
        .uikit-colours-items-item__rect.uikit-colours-items-item__rect-4 
        .uikit-colours-items-item-text
          .uikit-colours-items-item-text__title Dark Shade 25%
          .uikit-colours-items-item-text__code #1F2041
      article.uikit-colours-items-item 
        .uikit-colours-items-item__rect.uikit-colours-items-item__rect-5 
        .uikit-colours-items-item-text
          .uikit-colours-items-item-text__title Dark Shade 100%
          .uikit-colours-items-item-text__code #1F2041
      article.uikit-colours-items-item 
        .uikit-colours-items-item__rect.uikit-colours-items-item__rect-6 
        .uikit-colours-items-item-text
          .uikit-colours-items-item-text__title Dark Shade 100%
          .uikit-colours-items-item-text__code #1F2041
      article.uikit-colours-items-item 
        .uikit-colours-items-item__rect.uikit-colours-items-item__rect-7 
        .uikit-colours-items-item-text
          .uikit-colours-items-item-text__title Dark Shade 100%
          .uikit-colours-items-item-text__code #1F2041                                                          
