doctype html
html(lang="en")
  head
    title UI kit Headers Footers
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")    
  body
    include modules/uikit_headers_footers_content
