section.rules 
    .rules__title Правила
    .rules-item Нельзя с питомцами             
    .rules-item Без вечеринок и мероприятий            
    .rules-item Время прибытия — после 13:00, а выезд до 12:00   