section.roominfo 
    .roominfo__title Сведения о номере
    .roominfo-item 
        span.roominfo-item__span insert_emoticon
        .roominfo-item-text
            .roominfo-item-text__title Комфорт
            .roominfo-item-text__desc Шумопоглощающие стены
    .roominfo-item 
        span.roominfo-item__span location_city
        .roominfo-item-text
            .roominfo-item-text__title Удобство 
            .roominfo-item-text__desc Окно в каждой из спален
    .roominfo-item 
        span.roominfo-item__span whatshot
        .roominfo-item-text
            .roominfo-item-text__title Уют
            .roominfo-item-text__desc Номер оснащён камином  