mixin roomInfo(icon, title, text)
    .roominfo-item 
        span.roominfo-item__span= icon 
        .roominfo-item-text
            .roominfo-item-text__title= title
            .roominfo-item-text__desc= text

section.roominfo 
    .roominfo__title Сведения о номере
    +roomInfo('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')
    +roomInfo('location_city', 'Удобство', 'Окно в каждой из спален')
    +roomInfo('whatshot', 'Уют', 'Номер оснащён камином')
