body {
    font-family: 'Montserrat', sans-serif;
}  

.container {
    max-width: 1920px;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.index-wrapper {
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    height: 818px;
    margin-bottom: 112px;
}

.index-main {
    margin-bottom: 95px;
    position: relative;
    &__img {
        height: 830px;
        background: url("../modules/index/index_image.png");
        background-size: cover;
        box-sizing: border-box;        
        width: 100%;
    }
    &__title {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
        top: 763px;
        left: 1029px;          /* Если в пиксель, то 70%, но при сжатии выпадает */
        width: 281px;
        text-align: end;
        line-height: 24px;
        letter-spacing: 1px;
        text-align: right;
    }
}
